<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.CartMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Cart" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="gdid" property="gdid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="order_count" property="orderCount" jdbcType="INTEGER" />
    <result column="order_totalMoney" property="orderTotalmoney" jdbcType="DOUBLE" />
    <result column="order_sfMoney" property="orderSfmoney" jdbcType="DOUBLE" />
    <result column="Integral_deductionMoney" property="integralDeductionmoney" jdbcType="DOUBLE" />
    <result column="order_date" property="orderDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cid, gdid, userid, order_count, order_totalMoney, order_sfMoney, Integral_deductionMoney, 
    order_date, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.CartExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cart
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cart
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.CartExample" >
    delete from cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Cart" >
    insert into cart (cid, gdid, userid, 
      order_count, order_totalMoney, order_sfMoney, 
      Integral_deductionMoney, order_date, status
      )
    values (#{cid,jdbcType=INTEGER}, #{gdid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{orderCount,jdbcType=INTEGER}, #{orderTotalmoney,jdbcType=DOUBLE}, #{orderSfmoney,jdbcType=DOUBLE}, 
      #{integralDeductionmoney,jdbcType=DOUBLE}, #{orderDate,jdbcType=DATE}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Cart" >
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="gdid != null" >
        gdid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="orderCount != null" >
        order_count,
      </if>
      <if test="orderTotalmoney != null" >
        order_totalMoney,
      </if>
      <if test="orderSfmoney != null" >
        order_sfMoney,
      </if>
      <if test="integralDeductionmoney != null" >
        Integral_deductionMoney,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="gdid != null" >
        #{gdid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null" >
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderTotalmoney != null" >
        #{orderTotalmoney,jdbcType=DOUBLE},
      </if>
      <if test="orderSfmoney != null" >
        #{orderSfmoney,jdbcType=DOUBLE},
      </if>
      <if test="integralDeductionmoney != null" >
        #{integralDeductionmoney,jdbcType=DOUBLE},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.CartExample" resultType="java.lang.Integer" >
    select count(*) from cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cart
    <set >
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.gdid != null" >
        gdid = #{record.gdid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.orderCount != null" >
        order_count = #{record.orderCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderTotalmoney != null" >
        order_totalMoney = #{record.orderTotalmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.orderSfmoney != null" >
        order_sfMoney = #{record.orderSfmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.integralDeductionmoney != null" >
        Integral_deductionMoney = #{record.integralDeductionmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cart
    set cid = #{record.cid,jdbcType=INTEGER},
      gdid = #{record.gdid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      order_count = #{record.orderCount,jdbcType=INTEGER},
      order_totalMoney = #{record.orderTotalmoney,jdbcType=DOUBLE},
      order_sfMoney = #{record.orderSfmoney,jdbcType=DOUBLE},
      Integral_deductionMoney = #{record.integralDeductionmoney,jdbcType=DOUBLE},
      order_date = #{record.orderDate,jdbcType=DATE},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Cart" >
    update cart
    <set >
      <if test="gdid != null" >
        gdid = #{gdid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null" >
        order_count = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderTotalmoney != null" >
        order_totalMoney = #{orderTotalmoney,jdbcType=DOUBLE},
      </if>
      <if test="orderSfmoney != null" >
        order_sfMoney = #{orderSfmoney,jdbcType=DOUBLE},
      </if>
      <if test="integralDeductionmoney != null" >
        Integral_deductionMoney = #{integralDeductionmoney,jdbcType=DOUBLE},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Cart" >
    update cart
    set gdid = #{gdid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      order_count = #{orderCount,jdbcType=INTEGER},
      order_totalMoney = #{orderTotalmoney,jdbcType=DOUBLE},
      order_sfMoney = #{orderSfmoney,jdbcType=DOUBLE},
      Integral_deductionMoney = #{integralDeductionmoney,jdbcType=DOUBLE},
      order_date = #{orderDate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>