<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Purchase" >
    <id column="purchaseid" property="purchaseid" jdbcType="INTEGER" />
    <result column="odd" property="odd" jdbcType="VARCHAR" />
    <result column="deliverytime" property="deliverytime" jdbcType="DATE" />
    <result column="supplierid" property="supplierid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="grossmoney" property="grossmoney" jdbcType="REAL" />
     <result column="shenghe" property="shenghe" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    purchaseid, odd, deliverytime, supplierid, userid, remarks, grossmoney
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PurchaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchase
    where purchaseid = #{purchaseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchase
    where purchaseid = #{purchaseid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PurchaseExample" >
    delete from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Purchase" >
    insert into purchase (purchaseid, odd, deliverytime, 
      supplierid, userid, remarks, 
      grossmoney)
    values (#{purchaseid,jdbcType=INTEGER}, #{odd,jdbcType=VARCHAR}, #{deliverytime,jdbcType=DATE}, 
      #{supplierid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{grossmoney,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Purchase" useGeneratedKeys="true" keyProperty="purchaseid">
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purchaseid != null" >
        purchaseid,
      </if>
      <if test="odd != null" >
        odd,
      </if>
      <if test="deliverytime != null" >
        deliverytime,
      </if>
      <if test="supplierid != null" >
        supplierid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="grossmoney != null" >
        grossmoney,
      </if>
       <if test="shenghe != null" >
        shenghe,
      </if>
       <if test="suppliername != null" >
        suppliername,
      </if>
       <if test="uname != null" >
        uname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purchaseid != null" >
        #{purchaseid,jdbcType=INTEGER},
      </if>
      <if test="odd != null" >
        #{odd,jdbcType=VARCHAR},
      </if>
      <if test="deliverytime != null" >
        #{deliverytime,jdbcType=DATE},
      </if>
      <if test="supplierid != null" >
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="grossmoney != null" >
        #{grossmoney,jdbcType=REAL},
      </if>
       <if test="shenghe != null" >
        #{shenghe,jdbcType=REAL},
      </if>
       <if test="suppliername != null" >
        #{suppliername,jdbcType=REAL},
      </if>
       <if test="uname != null" >
        #{uname,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PurchaseExample" resultType="java.lang.Integer" >
    select count(*) from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purchase
    <set >
      <if test="record.purchaseid != null" >
        purchaseid = #{record.purchaseid,jdbcType=INTEGER},
      </if>
      <if test="record.odd != null" >
        odd = #{record.odd,jdbcType=VARCHAR},
      </if>
      <if test="record.deliverytime != null" >
        deliverytime = #{record.deliverytime,jdbcType=DATE},
      </if>
      <if test="record.supplierid != null" >
        supplierid = #{record.supplierid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.grossmoney != null" >
        grossmoney = #{record.grossmoney,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purchase
    set purchaseid = #{record.purchaseid,jdbcType=INTEGER},
      odd = #{record.odd,jdbcType=VARCHAR},
      deliverytime = #{record.deliverytime,jdbcType=DATE},
      supplierid = #{record.supplierid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      grossmoney = #{record.grossmoney,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Purchase" >
    update purchase
    <set >
      <if test="odd != null" >
        odd = #{odd,jdbcType=VARCHAR},
      </if>
      <if test="deliverytime != null" >
        deliverytime = #{deliverytime,jdbcType=DATE},
      </if>
      <if test="supplierid != null" >
        supplierid = #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="grossmoney != null" >
        grossmoney = #{grossmoney,jdbcType=REAL},
      </if>
    </set>
    where purchaseid = #{purchaseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Purchase" >
    update purchase
    set odd = #{odd,jdbcType=VARCHAR},
      deliverytime = #{deliverytime,jdbcType=DATE},
      supplierid = #{supplierid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      grossmoney = #{grossmoney,jdbcType=REAL}
    where purchaseid = #{purchaseid,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectAll" resultType="com.accp.domain.purchrvo">
  	SELECT p.purchaseid,p.odd,p.deliverytime,s.suppliername,p.userid,p.remarks,p.grossmoney,p.shenghe,COUNT(*) sl FROM `purchase` p INNER  JOIN  `purchasedetails` ps  ON p.purchaseid=ps.purchaseid INNER  JOIN  `supplier` s ON p.supplierid=s.supplierid
  	<where>
		1=1 
		<if test="deliverytime = '' ">
		 and deliverytime &gt; deliverytime
		</if>	
		 <if test="detime = '' ">
		 and deliverytime &lt;  detime
		</if>
		<if test="userid ='' ">
		 and userid =  userid
		</if>
		<if test="odd = '' ">
		 and odd like  concat('%',#{odd},'%')  or s.suppliername like  concat('%',#{odd},'%')
		</if>
		</where> 
  </select>
  <select id="selectshop" resultType="com.accp.domain.Shop">
  	select * from shop where userid=#{userid}
  </select>
  <select id="selectPurchase" resultType="com.accp.domain.Purchase">
  	 SELECT shenghe,purchase.`Purchaseid`,purchase.`odd`,purchase.`deliverytime`,purchase.`supplierid`,purchase.`suppliername`,SUM(purchasedetails.`gooddetailscount`)AS goodscount,SUM(purchasedetails.`goodCostprice`)AS goodCostprice,purchase.`remarks`,uname FROM `purchase`
	   LEFT JOIN `purchasedetails` ON purchasedetails.`purchaseid`=purchase.`purchaseid`
	   WHERE 1=1
      <if test="purchasedatejie!=null and purchasedatejie!=''">
      and deliverytime &gt;= #{purchasedatejie}
       </if>
       
       
        <if test="purchasedate!=null and purchasedate!='' ">
       and deliverytime &lt;= #{purchasedate} 
       </if>
       
       <if test="shopid!=null and shopid!='' ">
       and shopid = #{shopid} 
       </if>
       <if test="odd!=null and odd!='' ">
       and odd like concat('%',#{odd},'%')
       </if>
       
       
       GROUP BY purchase.`purchaseid`
  </select>
  <delete id="deleteByid">
  	delete from purchase where purchaseid=#{purchaseid};
  	
  </delete>
  <delete id="deleteByddd">
  	delete from purchasedetails where purchaseid=#{purchaseid};
  	
  </delete>
</mapper>