<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账户信息-日进斗金</title>
    <link rel="stylesheet" href="css/accountinfo.css">
    
    <!-- 文件上传的 -->
     <link rel="stylesheet" href="css/style.css">
    <style>
   		label{
   			font-weight: normal;
   		} 
    </style>
    <style>
		.yuan {
            width: 300px;
            height: 300px;
            border-radius: 150px;
            border: 3px solid gainsboro;
            overflow: hidden;
        }
        a:hover { 
        	text-decoration:none;
        } 
        a { 
        	text-decoration:none;
        } 
        .users{
        	width: 560px;
        	position: absolute;
        	margin-left: 45%;
        	margin-top: -58.5%;
        }
	</style>
    
</head>
<body>
	<div style="border: 1px solid #DDDDDD;border-radius: 5px;padding: 10px 25px;">
			<!-- <img src="../images/home.png" > -->
			你现在所在的位置是：
			<a href="javascript:;" style="font-weight: 600;">账户信息</a>			
	</div>
			<div class="container" style="margin-left:13% ;">
				  <div class="imageBox">
				    <div class="thumbBox"></div>
				    <div class="spinner" style="display: none">Loading...</div>
				  </div>
				  <div class="action"> 
				    <div class="new-contentarea tc"> <a href="javascript:void(0)" class="upload-img">
				      <label for="upload-file">上传图像</label>
				      </a>
				      <form name="uploadFile" method="post" enctype="multipart/form-data">
				     	 <input type="file" class="" name="file" id="upload-file" onchange="sc()"/>
				      </form>
				    </div>
				    <!-- <input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切"> -->
				    <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
				    <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
				  </div>
				  <!-- <div class="cropped" style="margin-right: 65%;"></div> -->
			</div>
			<div class="users">
				<input type="hidden" name="uid">
				<div class="form-group col-md-12" style="margin-left: 13%;margin-top: 2%;">
				    <label for="exampleInputName2" style="font-size: 18px;">行&nbsp&nbsp&nbsp业&nbsp&nbsp&nbsp&nbsp</label>
				    <input type="text" class="form-control" disabled="disabled"   placeholder="请填写行业" style="width: 60%;" name="trade">
			    </div>
			    <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 6%;">
				    <label for="exampleInputName2" style="font-size: 18px;">账&nbsp&nbsp&nbsp号&nbsp&nbsp&nbsp&nbsp</label>
				    <input type="text" class="form-control" disabled="disabled"   placeholder="请填写账号" style="width: 60%;" name="uname">
			    </div>
			    <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 6%;">
				    <label for="exampleInputName2" style="font-size: 18px;">手&nbsp&nbsp&nbsp机&nbsp&nbsp&nbsp&nbsp</label>
				    <input type="text" class="form-control" disabled="disabled"   placeholder="请填写手机号码" style="width: 60%;" name="uphone">
				    <label for="exampleInputName2" style="font-size: 15px;color: grey;">&nbsp&nbsp&nbsp已绑定</label>
			    </div>
			    <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 6%;">
				    <label for="exampleInputName2" style="font-size: 18px;">密&nbsp&nbsp&nbsp码&nbsp&nbsp&nbsp&nbsp</label>
				    <input type="password" class="form-control" disabled="disabled"   placeholder="请填写密码" style="width: 60%;" name="upwd">
			    </div>
			    <button type="button" id="xg" class="btn btn-success col-md-3" style="margin-left: 45%;margin-top: 6%;">修改</button>
		</div>
		<script>
		
			$(function(){
				
				//查看详情
				//shown.bs.modal 先显示模态框，再执行代码
				//show.bs.modal  先执行代码，再显示模态框
				$("#smModal").on("show.bs.modal",function(e){
					alert("显示模态框之前");				
				});
				$("#smModal").on("shown.bs.modal",function(e){
					//e.relatedTarget  获取当前触发模态框显示的元素
					var obj = $(e.relatedTarget);
					var stuId = $(obj).parents("tr").find("td:eq(0)").text();
					alert("显示模态框之后");	
					alert("获取到编辑的学生ID："+stuId+"利用ajax加载数据并填充");
					//alert($(".form-horizontal").find(".id").html())
					$(".form-horizontal").find(".id").html(stuId);
					$(".form-horizontal").find(".id").val(stuId);
//					$(".form-horizontal").find("[type='password']").val(1234567);					
				});
				
				xg();		//修改-保存
			});
			
			function xg(){
				$("#xg").click(function(){
					if($("#xg").html()=="修改"){
						$(".form-control").removeAttr("disabled");
						$(".tx").removeAttr("hidden");
						$("#xg").html("保存");
					}else{
						var uid=$("[name=uid]").val()
						var trade=$("[name=trade]").val()
						var uname=$("[name=uname]").val()
						var upwd=$("[name=upwd]").val()
						var uphone=$("[name=uphone]").val()
						$.ajax({
							url:"[[@{user/updateUser}]]",
							data:{uid:uid,trade:trade,uname:uname,upwd,uphone},
							success:function(result){
								alert("保存成功！")
							}
						});
						$(".form-control").attr("disabled","disabled");
						$(".tx").attr("hidden","hidden");
						$("#xg").html("修改");
					}
				});
			}
			
			function sc(){
				var a = new FormData($("form[name=uploadFile]")[0]);
				$.ajax({
					url:"[[@{user/uploadFile}]]",
					data:a,
					type:"post",
					processData:false,
					contentType:false,
					success:function(result){
						alert("上传成功！");
					}
				});
			}
		</script>
    
    <script type="text/javascript">
			$(window).load(function() {
				
			});
			function jz(){
				$.ajax({
					url:"[[@{user/getUser}]]",
					success:function(result){
						$("[name=uid]").val(result.uid)
						$("[name=trade]").val(result.trade)
						$("[name=uname]").val(result.uname)
						$("[name=upwd]").val(result.upwd)
						$("[name=uphone]").val(result.uphone)
					}
				});
			}
			$(function(){
				loadFunction();
				jz();
			});
			
			function loadFunction(){
				var options =
				{
					thumbBox: '.thumbBox',
					spinner: '.spinner'
				}
				$.ajax({
					url:"[[@{user/getUser}]]",
					success:function(result){
						options.imgSrc=result.headportrait;
						var cropper = $('.imageBox').cropbox(options);
					}
				});
				$('#upload-file').on('change', function(){
					var reader = new FileReader();
					reader.onload = function(e) {
						options.imgSrc = e.target.result;
						cropper = $('.imageBox').cropbox(options);
					}
					reader.readAsDataURL(this.files[0]);
					this.files = [];
				})
				$('#btnCrop').on('click', function(){
					var img = cropper.getDataURL();
					$('.cropped').html('');
					$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');
					$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>');
					$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');
				})
				$('#btnZoomIn').on('click', function(){
					cropper.zoomIn();
				})
				$('#btnZoomOut').on('click', function(){
					cropper.zoomOut();
				})
			}
		</script>

</body>
</html>