<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>收银</title>
  
  <link rel="stylesheet" href="fonts/iconfont.css">
  
  <link rel="stylesheet" href="css/element-ui.css">
  <link rel="stylesheet" href="css/pos.css">
  <style>
  	.contentarea {
	    margin: 0 auto;
	    width: 1240px;
	    min-height: 450px;
	    position: relative;
	    border: 1px solid #e7e7eb;
	    margin-bottom: 20px;
	}
	.title {
	    padding: 5px;
	}
	.pos-order{
		position: relative;
		margin-left: -60px;
	}
	.orange{
		color:orange;
	}
  </style>
</head>
<body>

  <div id="app">
    <!-- 左侧菜单 -->
     <ul class="left-nav" id="leftCollect">
      <li data-id="collectMember">
        <i class="icon iconfont">&#xe8a0;</i>
        <span>会员</span>
      </li>
      <li data-id="collectGoods">
        <i class="icon iconfont">&#xe8a6;</i>
        <span>商品</span>
      </li>
    </ul> 
    <!-- 收银台 -->
    <div class="pos contentarea">
      <el-row>
        <el-col :span="6" class="pos-order">
          <el-tabs v-model="activeName">
          <!-- 商品模块 -->
            <el-tab-pane label="商品" name="orderIng">
              <el-table :data="tableData" border>
                <el-table-column prop="goodsName" label="商品名称"></el-table-column>
                <el-table-column prop="count" label="数量" width="70"></el-table-column>
                <el-table-column prop="price" label="金额" width="70"></el-table-column>
                <el-table-column label="操作" width="100" fixed="right">
                  <!-- scope 是模板的作用域，通过scope.row把这一行数据传递到addOrderList()中去 -->
                  <template slot-scope="scope">
                    <el-button type="text" size="small" @click="delSingleGoods(scope.row)">删除</el-button>
                    <el-button type="text" size="small" @click="addOrderList(scope.row)">增加</el-button>
                  </template> 
                </el-table-column>
              </el-table>
            </el-tab-pane>
            <!-- 挂单模块 -->
            <el-tab-pane label="挂单" name="entryOrders">
	            <el-table :data="danData" border>
	                <el-table-column prop="goodsName" label="商品名称"></el-table-column>
	                <el-table-column prop="count" label="数量" width="70"></el-table-column>
	                <el-table-column prop="price" label="金额" width="70"></el-table-column>
	                <el-table-column label="操作" width="100" fixed="right">
	                  <!-- scope 是模板的作用域，通过scope.row把这一行数据传递到addOrderList()中去 -->
	                  <template slot-scope="scope">
	                    <el-button type="text" size="small" @click="delSingleGoods(scope.row)">删除</el-button>
	                    <el-button type="text" size="small" @click="addOrderList(scope.row)">增加</el-button>
	                  </template> 
	                </el-table-column>
	              </el-table>
			</el-tab-pane>
          </el-tabs>
         <div class="foot-statistical">
            <span><small>数量：</small><span class="orange">{{totalCount}}</span></span>
            <span><small>总金额：</small><span class="orange">{{totalMoney}}元</span></span><br/>
            <span><small>折扣：</small><span class="orange">{{discount}}元</span></span>
            <span><small>实收：</small><span class="orange">{{shiMoney}}元</span></span>
          </div>
          <div class="foot-btn">
            <el-button type="warning" @click="guadan">挂单</el-button>
            <el-button type="danger" @click="delAllGoods">删除</el-button>
            <!-- <el-button type="success" @click="checkout">结账</el-button> -->
            <el-button type="success" @click="insertCart">结算</el-button>
          </div>
        </el-col>

        <el-col :span="18" class="rightContent">
        
         	<!-- 收银的商品模块 -->
			<div id="collectGoods">
				<div class="often-goods">
		        <div class="title">常买商品</div>
		        <div class="often-goods-list">
		          <ul>
		            <li v-for="goods in ofterGoods">
		              <span>{{goods.goodsname}}</span>
		              <span class="o-price">￥{{goods.goodsPrice}}元</span>
		            </li>
		          </ul>
		        </div>
		      </div>
		      <div class="goods-type">
		        <el-tabs >
		          <el-tab-pane  v-for="(item,index) in goodstype" 
				    :label="item.typename">
		            <ul class='cookList'>
		              <li v-for="(g,index) in item.glist" @click="addOrderList(g)">
		                <span class="foodImg"><img  :src="g.goodsphoto" width="100%" height="80px"></span>
		                <div class="food-content">
		                  <span class="foodName">{{g.goodsname}}</span>
		                  <span class="foodPrice">￥{{g.salesprice}}元</span>
		                </div> 
		              </li>
		            </ul>
		          </el-tab-pane>
		        </el-tabs>
		      </div>
			</div>
			
			<!-- 收银的会员模块 -->
			<div id="collectMember">
				会员
				<!-- <div class="goods-type">
		        <el-tabs >
		          <el-tab-pane  v-for="(item,index) in goodstype" 
				    :label="item.typename">
		            <ul class='cookList'>
		              <li v-for="(g,index) in item.glist" @click="addOrderList(g)">
		                <span class="foodImg"><img  :src="g.goodsphoto" width="100%" height="80px"></span>
		                <div class="food-content">
		                  <span class="foodName">{{g.goodsname}}</span>
		                  <span class="foodPrice">￥{{g.salesprice}}元</span>
		                </div> 
		              </li>
		            </ul>
		          </el-tab-pane>
		        </el-tabs>
		      </div> -->
			</div>
			
			
        </el-col>
      </el-row>
    </div>
  </div>
</body>
  
  	<script type="text/javascript">
	    var collectVue =  new Vue({
	          el: '#app',
	          data: function() {
	            return { 
	             activeName: 'orderIng',
	              tableData: [],
	              danData:[],
	              totalCount: 0,
	              totalMoney: 0,
	              discount:10,
	              shiMoney:0,
	              ofterGoods:[],
    			  goodstype:[]
	            }
	          },
	          methods: {
	        	  insertCart:function(){
	        		  
	        	  },
	        	  guadan:function(){
	        		  this.danData = this.tableData;
	        		  this.tableData=[];
	        	  },
	        	  queryOftenGoods:function(){
	        		  var t = this;
	        		  $.ajax({
	        			  url:"[[@{shop/queryTenGoods}]]",
	        			  type:"post",
	        			  success:function(result){
	        				  console.log(result);
	        				  t.ofterGoods = result;
	        				  
	        			  }
	        		  });
	        	  },
	        	  queryGoodstype:function(){
	        		  var t = this;
	        		  $.ajax({
	        			  url:"[[@{shop/queryGoodstype}]]",
	        			  type:"post",
	        			  success:function(result){
	        				  console.log(result);
	        				  t.goodstype = result;
	        			  }
	        		  });
	        	  },
	        	// 点击右边商品，添加到左边
	              addOrderList(goods){
	        		  console.log(goods);
	                // 每次添加都清零，防止重复添加
	                this.totalCount=0;
	                this.totalMoney=0;
	                // 定义isHave判断这个商品是否已经存在于订单列表
	                let isHave=false;
	                // tableData循环
	                for (let i=0; i<this.tableData.length; i++){
	                	//alert("进循环了");
	                   console.log(this.tableData[i].goodsid+"---"+goods.goodsid);
	                  if(this.tableData[i].goodsid==goods.goodsid){
	                    isHave=true;
	                  }
	                }
	                alert(isHave);
	                // 根据判断的值写业务逻辑
	                if(isHave){
	                  // 改变列表中的商品数量
	                  // 通过filter过滤tableData
	                  let arr = this.tableData.filter(o=>o.goodsid == goods.goodsid);
	                  arr[0].count++;
	                } else {
	                  // 构造一个newGoods
	                  let newGoods={goodsid:goods.goodsid,goodsName:goods.goodsname,price:goods.salesprice,count:1};
	                  console.log(newGoods);
	                  this.tableData.push(newGoods);
	                }
	                this.getAllMoney();
	              },
	              // 删除单个商品
	              delSingleGoods(goods){
	                // console.log(goods);
	                this.tableData=this.tableData.filter(o => o.goodsid !=goods.goodsid);
	                this.getAllMoney();
	              },
	              // 删除所有商品
	              delAllGoods(){
	                this.tableData=[];
	                this.totalCount=0;
	                this.totalMoney=0;
	              },
	            // 因为删除，增加后都要重新汇总，所以汇总方法要复用
	            getAllMoney(){
	              this.totalCount=0;
	              this.totalMoney=0;
	              // 订单列表有数据的时候才进行汇总
	              if(this.tableData){
	                // 进行数量和价格的汇总计算
	                // element表示tableData中的单个元素
	                  this.tableData.forEach((element) => {
	                  this.totalCount+=element.count;
	                  this.totalMoney=this.totalMoney+(element.price*element.count);
	                });
	                  this.shiMoney=this.totalMoney-this.discount;
	              }
	            },
	            // 结账
	            checkout() {
	              if (this.totalCount!=0) {
	                this.tableData = [];
	                this.totalCount = 0;
	                this.totalMoney = 0;
	                this.$alert('<div class="qr-code"><img src="images/code.jpg"><p>你也可以扫码结账!@^_^@</p></div>', '结账成功,觉得OK就打赏一下', {
	                  dangerouslyUseHTMLString: true
	                });
	              } else {
	                this.$message.error('你都没选商品，我结空气给你吃吗？');
	              }
	            }

	          },
	          created(){
	        	  this.queryOftenGoods();
	      		  this.queryGoodstype();
	          }
	        })
      </script>
 	<script>
	   /* $(function () {
	      var newDiv = $(`<div data-id="collectGoods">`);
	      $.ajax({
	      	type:"post",
	      	url:"/money",
	      	data:{dataid:"collectGoods"},
	      	dataType:"html",
	      	success:function(res){
	      		newDiv.append(res);
	      		 $(".rightContent").append(newDiv);
	      	}
	      });
	  });  */
  		$(function(){
  			$("#collectMember").hide();
  			$("#collectGoods").show();
  		})
	  
	  $("#leftCollect li").click(function () {
		  	$("#collectMember").hide();
	        $("#collectGoods").hide();
	        let dataid=$(this).attr("data-id");
	        //alert(dataid);
	        
  			$("#"+dataid+"").show();
	    }); 
  </script>
</html>