<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--首页-->
<head>
    <meta charset="UTF-8">
    <title>POS店铺管理系统,全新O2O平板收银系统-日进斗金收银软件</title>
    <!--引入样式-->
    <script th:src="@{js/jquery-1.12.4.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{js/vue.js}"></script>
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/base.css">
    
</head>
<body>
    <!--头部 -->
    <div class="header">
        <div class=" top">
            <!--logo-->
            <a href="javascript:;">
                <h2 class="logo" title="POS店铺管理系统,全新O2O平板收银系统-日进斗金收银软件"></h2>
            </a>
            <ul class="nav-menu clearfix">
                <li class="nav-items">
                    <a href="javascript:;"  class="home-link">
                        <span class="text">
                            <span class="text-title"></span>
                        </span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="javascript:;"  >
                        <span class="text">
                            <span class="text-title">实体店</span>
                        </span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="javascript:;"  >
                        <span class="text">
                            <span class="text-title">公众号</span>
                        </span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="javascript:;"  >
                        <span class="text">
                            <span class="text-title">微商城</span>
                        </span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="javascript:;" >
                        <span class="text">
                            <span class="text-title">商家社区</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="registerORlogin" >
                <a href="javascript:;" target="_blank">登录</a>
                <a href="javascript:;" target="_blank" class="register">注册</a>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="content"></div>
    <div class="footer"></div>
</body>
</html>