<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日进斗金-index</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="../sitelogo/sitelogo.css" rel="stylesheet">
    
    <script th:src="@{js/jquery-1.12.4.js}"></script>
    <script  type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/vue.js}"></script>
    
    <!-- 收银的 -->
    <!-- 引入组件库 -->
	  <script th:src="@{js/index.js}"></script>
	  <!-- 引入axios -->
 	 <!-- <script th:src="@{js/axios.min.js}"></script> -->
    
    <!-- 图片滑动 -->
    <script type="text/javascript" src="js/jigsaw.js"></script>
    
    <!-- 富文本编辑器 -->
     <script type="text/javascript" th:src="@{js/wangEditor.js}"></script>
     
	<!-- 三级联动 -->
 	<!-- <script type="text/javascript" th:src="@{js/area.js}"></script> -->
 	
	
	<!-- range.css是营业时间 -->
    <link rel="stylesheet" href="../css2/jquery.range.css">
    
    <!-- 账户文件上传的 -->
    <script type="text/javascript" th:src="@{js/cropbox.js}"></script>
    
    <!-- 发ajax跳页面的js -->
    <!-- <script type="text/javascript" th:src="@{js/ajaxIndex.js}"></script> -->
    
    <!-- 三级联动 -->
   	<script type="text/javascript" th:src="@{js/distpicker.data.js}"></script>
    <script type="text/javascript" th:src="@{js/distpicker.js}"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <style>
    </style>
</head>
<body>
    <!--头部-->
    <div class="header clearfix">
        <div class="top">
            <div class="divUser" style="position:relative;left:-50px;">
            	
				<div id="userAAA"> <!-- 获取session中的userName -->
                <a href="javascript:;" class="logout" style="top:0px;" onclick="tc()">退出</a>
                <a href="javascript:;" class="head">
                    <p class="type">
                        <span>未认证</span>
                    </p>
                    <p class="nick">
                        <span name="Uname">账号名称</span>
                    </p>
                    <img name="headportrait" src="" alt="">
                </a>
                </div>
            </div>
            <!-- logo -->
            <a href="javascript:;">
                <h2 class="logo" title="点击显示登录"></h2>
            </a>
            <ul class="nav-menu clearfix nav nav-tabs"> <!-- nav-tabs将会显示对应active的内容 -->
                <li class="nav-item"  data-id="accountindex">
                    <a href="javascript:;">
                        <span class="text">
                            <span class="text-title">账户</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" data-id="storeindex">
                    <a href="javascript:;" >
                        <span class="text">
                            <span class="text-title">实体店</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容 -->
    <div class="content">
        <div class="tab-content indexs">
            <!-- 这里的内容根据点击的按钮按钮加载对应的html页面 由tab-pane active决定 -->
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="foot" style="background: #fafafa none repeat scroll 0 0;border-top: 1px solid #dfdfdf;float: left;padding: 20px 0;text-align: center;width: 100%;">
        <p style="color: #5e5e5e;">Copyright © 2010-2019 POSO2O. All Rights Reserved.</p>
    </div>
    <script type="text/javascript">
        $(function () {
        		jz()
            });
         	//点击logo的时候回到登录
         	$(".logo").click(function(){
         		$(".indexs>div").remove();
         		var newDiv = $(`<div data-id="login"  class="tab-pane active">`);
                $.ajax({
                	type:"post",
                	url:"/money",
                	data:{dataid:"login"},
                	dataType:"html",
                	success:function(res){
                		newDiv.append(res);
                        $(".indexs").append(newDiv);
                	}
                });
         	})
         
            $(".nav-item").click(function () {
                    $(".indexs>div").remove();
                    let dataid=$(this).attr("data-id");
                    
                    $(".nav-item").removeClass("active");
                    $(this).addClass("active");
                    $(".indexs div").removeClass("active");
                    var newDiv = $(`<div data-id="${dataid}"  class="tab-pane active">`);
                    $.ajax({
                    	type:"post",
                    	url:"/money",
                    	data:{dataid:dataid},
                    	dataType:"html",
                    	success:function(res){
                    		newDiv.append(res);
                            $(".indexs").append(newDiv);
                    	}
                    });
                    
            });
         	var User=null;
         	function jz(){
				$.ajax({
					url:"[[@{user/getUser}]]",
					success:function(result){
						if(result!=null){
							$("[id=userAAA]").show();
							User=result.uname;
							$("[name=headportrait]").attr("src",result.headportrait)
							$("[name=Uname]").text(result.uname)
						
							$(".indexs>div").remove();
							var newDiv = $(`<div data-id="login"  class="tab-pane active">`);
			                $.ajax({
			                	type:"post",
			                	url:"/money",
			                	data:{dataid:"accountindex"},
			                	dataType:"html",
			                	success:function(res){
			                		newDiv.append(res);
			                        $(".indexs").append(newDiv);
			                	}
			                });
						}else{
							$("[id=userAAA]").hide();
							 var newDiv = $(`<div data-id="login"  class="tab-pane active">`);
				                $.ajax({
				                	type:"post",
				                	url:"/money",
				                	data:{dataid:"login"},
				                	dataType:"html",
				                	success:function(res){
				                		newDiv.append(res);
				                        $(".indexs").append(newDiv);
				                	}
				                });
						}
					}
				});
			}
         	function tc(){
         		$.ajax({
    				url:"[[@{user/tc}]]",
    				success:function(result){
    					$("[id=userAAA]").hide();
    					location.reload();
    				}
    			});
         	}
    </script>
    <!-- 时间的js -->
     
		
		
</body>
</html>