<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/integer_set.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script th:src="@{js/jquery-1.12.4.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{js/vue.js}"></script>
    <style type="text/css">
    	.integerarea {
		    padding-top: 160px;
		}
    	.overlayX {
			display:none;
			float: left;
		    width: 584px;
		    height: 388px;
		    position: absolute;
		    left: -14px;
		    top: 15px;
		    z-index: 9;
		    BACKGROUND: #CCCCCC;
		    FILTER: alpha(opacity:50);
		    opacity: 0.5;
		}
    </style>
</head>
<body>
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
        <div class="user_list_main clearfix">
            <div class="user_list_body clearfix">
                <div class="sub_title">积分设置</div>
                <a href="javascript:;" class="btnx" style="position: relative;top: -23px;">
                    <em class="x">开启</em>
                    <em class="xx">关闭</em>
                </a>
               <div class="integerarea">
               		<div class="overlayX"></div>
                    <div class="list clearfix">
                        <div class="title">积分抵扣</div>
                        <div class="cont">
                            <label>使用积分</label>
                            <input type="text" class="form-control" style="width: 110px;float: left;margin: 0 5px " name="integral">
                            <label >可抵扣</label>
                            <span style="color: rgb(240, 91, 35); float: left; padding-left: 10px; padding-right: 10px; font-size: 16px; padding-top: 8px;">1.00</span>
                            <label >元</label>
                        </div>
                    </div>
                   <div class="clearfix a"></div>
                   <div class="fr" style="margin-right: 100px">
                       <a href="javascript:;" class="btn btn-success" style="color: #fff !important;width: 100px;" name="qd">确定</a>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
	<script type="text/javascript">
		$(function(){
			var flag=0;
			var i=1
			
			$(".btnx").click(function(){
				if(i%2!=0){
					$(".x").css({"background-color": "#44b549","color": "#FFF"});
					$(".xx").css({"background-color": "#FFF","color": "#FFF"});
					$(".overlayX").css("display", "none")
					flag=0;
					var integral=$("[name=integral]").val()
					$.ajax({
						url:"[[@{member/updateintegral}]]",
						data:{sw:flag,integral:integral},
						success:function(result){
							alert("打开成功！")
						}
					});
				}else{
					$(".x").css({"background-color": "#FFF","color": "#FFF"});
					$(".xx").css({"background-color": "#9E9E9E","color": "#FFF"});
					$(".overlayX").css("display", "block")
					flag=1;
					var integral=$("[name=integral]").val()
					$.ajax({
						url:"[[@{member/updateintegral}]]",
						data:{sw:flag,integral:integral},
						success:function(result){
							alert("关闭成功！")
						}
					})
				}
				i++
			})
			$.ajax({
					url:"[[@{member/selectintegral}]]",
					success:function(result2){
						if(result2.sw==0){
							$(".x").css({"background-color": "#44b549","color": "#FFF"});
							$(".xx").css({"background-color": "#FFF","color": "#FFF"});
							$(".overlayX").css("display", "none")
						}else{
							$(".x").css({"background-color": "#FFF","color": "#FFF"});
							$(".xx").css({"background-color": "#9E9E9E","color": "#FFF"});
							$(".overlayX").css("display", "block")
						}
						$("[name=integral]").val(result2.integral)
					}
				});
			$("[name=qd]").click(function(){
				var integral=$("[name=integral]").val()
				$.ajax({
					url:"[[@{member/updateintegral}]]",
					data:{sw:flag,integral:integral},
					success:function(result){
						alert("设置成功！")
					}
				});
			})
		})
	</script>
</body>
</html>