<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/shop_type.css">
    
</head>
<body>
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
        <div class="user_list_main clearfix">
            <div class="user_list_body clearfix">
                <div class="sub_title">商品类别</div>
                <div class="btn btn-success" style="float: right;position: relative;top: -23px;">添加类别</div>
                <table class="clearfix settable">
                    <thead>
                        <tr>
                            <th width="20%">序号</th>
                            <th width="*">名称</th>
                            <th width="40%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a href="javascript:;">修改</a>
                                <a href="javascript:;">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a href="javascript:;">修改</a>
                                <a href="javascript:;">删除</a>
                            </td>
                        </tr>  <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a href="javascript:;">修改</a>
                                <a href="javascript:;">删除</a>
                            </td>
                        </tr>  <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a href="javascript:;">修改</a>
                                <a href="javascript:;">删除</a>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>