<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/shop_upload.css">
    <style type="text/css">
    .aas{
		border:1px solid #907c73;
		background:url(images/right.png) no-repeat right bottom;
		}
	input::-webkit-input-placeholder{
		font-size:10px;
         color:#e95b4a;
      }
      input::-moz-placeholder{   /* Mozilla Firefox 19+ */
      	font-size:10px;
         color:#e95b4a;
     }　　
      input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
      	font-size:10px;
          color:#e95b4a;
     }
     input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
     	font-size:10px;
         color:#e95b4a;
     }
    </style>
</head>
<body>
<div class="rightarea clearfix" id="add">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">商品上传</span>
        </div>
        <div class="mainbody">
                <!--上传开始-->
                <div class="uploadproduct clearfix" id="upvue">
                    <div class="rightdiv">
                        <div class="ptype">
                            <div class="listdiv">
                                <span>
                                    <i>*</i>
                                    商品货号
                                </span>
                                <input type="text" class="inputtext" id="shangpinhh">
                                <span>
                                    商品品牌
                                </span>
                                <input type="text" class="inputtext" >
                            </div>
                            <!---->
                            <div class="listdiv">
                                <span>
                                    <i>*</i>
                                    商品名称
                                </span>
                                <input type="text" class="inputtext" style="width: 398px;" id="shangpinmc">
                            </div>
                            <!---->
                            <div class="listdiv">
                                <span>
                                    <i>*</i>
                                    吊牌价格
                                </span>
                                <input type="text" class="inputtext" id="shangpinxs">
                                <span>
                                    <i>*</i>
                                    成本价格
                                </span>
                                <input type="text" class="inputtext" id="shangpincb" placeholder="成本价低于吊牌价，亏本!">
                               
                            </div>
                            <!---->
                            <div class="listdiv">
                                <span>
                                    <i>*</i>
                                    吊牌类别
                                </span>
                                <select name="" id="shangpinlbss" class="form-control" style="float:left;width: 168px;">
                                    <option value="" >请选择类别</option>
                                    <option  v-for="item in type"  :value="item.typeid">{{item.typename}}</option>
                                </select>
                            </div>
                            <!---->
                            <div class="listdiv">
                                 <span>
                                    <i>*</i>
                                    商品颜色
                                </span>
                                <!--固定颜色需选择-->
                                <div class="colorchoice">
                                    <table class="table table-bordered col-md-12">
							<tr class="row">
								<td class="col-md-3">黑色系</td><td class="col-md-3">白色系</td><td class="col-md-3">红色系</td><td class="col-md-3">蓝色系</td>
							</tr>
							<tr class="row">
								<td class="col-md-3"><input type="checkbox" class="yss" value="黑色"><span><div style="height: 10px; width: 10px;background-color: black;"></div></span>黑色<br>
								<input type="checkbox" class="yss" value="深灰色"><span><div style="height: 10px; width: 10px;background-color: #3C3C3C;"></div></span>深灰色<br>
								<input type="checkbox" class="yss" value="浅灰色"><span><div style="height: 10px; width: 10px;background-color: #BEBEBE;"></div></span>浅灰色
								</td>
								<td class="col-md-3">
								<input type="checkbox" class="yss" value="白色"><span><div style="height: 10px; width: 10px;background-color: #FFFFFF;"></div></span>白色<br>
								<input type="checkbox" class="yss" value="透明"><span><div style="height: 10px; width: 10px;background-color: #FFFFFF;border: 1px;"></div></span>透明<br>
								<input type="checkbox" class="yss" value="花色"><span><div style="height: 10px; width: 10px;background-color: rgb(255,200,255);"></div></span>花色
								</td>
								<td class="col-md-3"><input type="checkbox" class="yss" value="酒红色"><span><div style="height: 10px; width: 10px;background-color: winered;"></div></span>酒红色<br>
								<input type="checkbox" class="yss" value="红色"><span><div style="height: 10px; width: 10px;background-color: red;"></div></span>红色<br>
								<input type="checkbox" class="yss" value="粉红"><span><div style="height: 10px; width: 10px;background-color: pink;"></div></span>粉红
								</td>
								
								<td class="col-md-3"><input type="checkbox" class="yss" value="酒红色"><span><div style="height: 10px; width: 10px;background-color: #000093;"></div></span>深蓝色<br>
								<br><input type="checkbox" class="yss" value="蓝色"><span><div style="height: 10px; width: 10px;background-color: #4A4AFF;"></div></span>蓝色<br>
								<input type="checkbox" class="yss" value="天蓝色"><span><div style="height: 10px; width: 10px;background-color: #00FFFF;"></div></span>天蓝色
								</td>
							</tr>
						</table>
						<table class="table table-bordered col-md-12">
							<tr class="row">
								<td class="col-md-3">黄色系</td><td class="col-md-3">绿色系</td><td class="col-md-3">紫色系</td><td class="col-md-3">其他色系</td>
							</tr>
							<tr class="row">
								<td class="col-md-3 row"><input type="checkbox" class="yss" value="桔色"><span><div style="height: 20px; width: 20px;background-color: Orange;"></div></span>桔色<br>
								<input type="checkbox" class="yss" value="黄色"><span><div style="height: 20px; width: 20px;background-color: yellow;"></div></span>黄色<br>
								<input type="checkbox" class="yss" value="浅黄色"><span><div style="height: 20px; width: 20px;background-color: buff;"></div></span>浅黄色
								</td>
								<td class="col-md-3">
								<input type="checkbox" class="yss" value="军绿色"><span><div style="height: 20px; width: 20px;background-color: armygreen;"></div></span>军绿色<br>
								<input type="checkbox" class="yss" value="绿色"><span><div style="height: 20px; width: 20px;background-color: green;border: 1px;"></div></span>绿色<br>
								<input type="checkbox" class="yss" value="浅绿色"><span><div style="height: 20px; width: 20px;background-color: reseda;"></div></span>浅绿色
								</td>
								<td class="col-md-3"><input type="checkbox" class="yss" value="深紫色"><span><div style="height: 20px; width: 20px;background-color: modena;"></div></span>深紫色<br>
								<input type="checkbox" class="yss" value="紫色"><span><div style="height: 20px; width: 20px;background-color: violet;"></div></span>紫色<br>
								<input type="checkbox" class="yss" value="紫罗兰"><span><div style="height: 20px; width: 20px;background-color: violet;"></div></span>紫罗兰
								</td>
								
								<td class="col-md-3"><input type="checkbox" class="yss" value="深卡其"><span><div style="height: 20px; width: 20px;background-color: #000093;"></div></span>深卡其<br>
								<input type="checkbox" class="yss" value="褐色"><span><div style="height: 20px; width: 20px;background-color: #4A4AFF;"></div></span>褐色<br>
								<input type="checkbox" class="yss" value="巧克力"><span><div style="height: 20px; width: 20px;background-color: #00FFFF;"></div></span>巧克力
								</td>
							</tr>
						</table>
                                    <!--添加颜色的按钮-->
                                    <a href="javascript:;" class="addColorBtn" id="tjys">+添加颜色</a>
                                </div>
                                <div class="col-md-12" id="ysbiao" style="display: none;">
						<table class="table-bordered col-md-12">
							
								<tr class="row ">
									<th class="col-md-6" style="text-align: center;">颜色名称</th>
								</tr>
							
							<tbody id="ysxxx">
							
							</tbody>
								
							
						</table>
					</div>
                            </div>
                            <!---->
                           <div class="col-md-12">&nbsp;</div>
					<div class=" col-md-12" >
						<span style="color: #9e9e9e;" class="col-md-3">*商品尺码</span><div class="col-md-12" id="spccxs">
						<span class="col-md-3" style="display: none"><input type="checkbox" class="cima"/></span>
						
						</div>
						
					</div><div class="col-md-12">&nbsp;</div>
					<div class=" col-md-12" >
						<span style="color: #9e9e9e;" class="col-md-3">*商品库存</span><input type="text" id="shangpinkc" readonly="readonly" class="col-md-3"/><span class="col-md-6">请勿随意修改库存</span>
						<table class="table-bordered col-md-12">
						<thead>
							<tr>
								<th class="col-md-4" style="text-align: center;">规格</th>
								<th class="col-md-4" style="text-align: center;">数量</th>
								<th class="col-md-4" style="text-align: center;">条形码</th>
							</tr>
							</thead>
							<tbody  id="spxtb">
							
							</tbody>
						</table>
					</div>
                            <!---->
                        </div>
                    </div>
                    <!--infoend-->
                    <!--上传图片  放大-->
                    <div class="productshow clearfix">
                        <div class="magni">
                            <div class="tb-booth s310">
                                <a href="javascript:;">
                                    <img src="images/storeindex/uploadImg150_150.jpg" lt=""  id="imagePre">
                                </a>
                            </div>
                        </div>
                        <!--下一张下一张-->
                        <div class="staticPic clearfix">
                            <span class="prev"></span>
                            <span class="next"></span>
                            <!--小图滚动区域-->
                            <div class="smallPic">
                                <div class="pic-list">
                                    <ul class="thumb">
                                        <li>
                                        <form action="" method="post" enctype="multipart/form-data">
                                            <input  type="file" class="uploadimg" id="picFile"  name="picFile" multiple></form>
                                            <a  class="imgd" href="javascript:;">
                                             <input type="hidden" id="imageVal" name="imageVal" value=""/>
                                                <img src="images/storeindex/add_ico.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--富文本编辑器 保存商品信息-->
                    <div class="editPanel">
                        <p class="title">商品信息</p>

                        <div id="editor"></div>
                        <!--按钮-->
                        <div class="btn-close-insert">
                            <a href="javascript:;" class="btn btn-default" onclick="quxiao()">取消发布</a>
                            <a href="javascript:;" class="btn btn-success" style="color: #ffffff !important;" id="spfbu">发布商品</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var uploadvue=new Vue({
    	el:"#upvue",
    	data(){
    		return{
    			type:{}
    		}
    	},
    	methods:{
    		logintype:function(){
    			var th=this;
				$.ajax({
					url:"[[@{goods/goodstypeAll}]]",
					success:function(res){
						th.type=res;
					}
				});
    		}
    	},
    	mounted:function(){
    		this.logintype();
    	}
    });
    

    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create();
     $("#picFile").change(function(){
    	   //验证是否图片
    	   if(!/image\/\w+/.test(this.files[0].type)){
    	           alert("文件必须是图片格式!");
    	           return false;
    	     }
    	   //限制图片大小
    	   var size = this.files[0].size / 1024;   
    	         if(size>1000){ 
    	            alert("图片大小不能大于1M!");
    	            return false;
    	         }
    	         //var v = $(this).val();
    	         var reader = new FileReader();
    	         reader.readAsDataURL(this.files[0]);
    	         reader.onload = function(e){
    	             console.log(e.target.result);
    	             $("#imageVal").val("");        //清空base46
    	             $("#imagePre").attr("src", "");   //清空图片
    	            
    	             $("#imageVal").val(e.target.result.split(",")[1]);
    	             $("#imagePre").attr("src", e.target.result);    //将Base64流显示在页面的  img标签中进行浏览z
    	         };
    	     });
    
    $(function(){
    	shangpinccxs();	
    	
    	$(".yss").click(function(){
    		
    	//	var n=*;
    	//alert(11);
    		spsf();	
    		bzxs(this);
    
    	});
    	
    	
    	
    	$("#tjys").click(function(){
    		$("#ysbiao").show();
    		var $ystbb=`<tr class="row">
			<td class="col-md-6" style="text-align: center;"><input type="text" class="ysemc" onblur="sqjd()">
			<button class="xqys" onclick="xqys(this)">x</button>
			</td>
		</tr>`;
		spsf();
		$("#ysxxx").append($ystbb);
    	});
    	
    	
    	
    	$("#spfbu").click(function(){
    		fbbaocuan();
    	});
    	
    	
    });
    
    
    
    
    
    
    
    
    function fbbaocuan(){
    	var formData = new FormData($("form")[0]);
		 var files = $("[name=picFile]")[0].files;
		for(var i=0;i<files.length;i++){
			formData.append("files",files[i]);
		} 
		$.ajax({
			url:"[[@{/goods/upimgAjax}]]",
			data:formData,
			type:"post",
			processData:false,
			contentType:false,
			success:function(result){
				//alert(result);
				var list={
		    			shopid:1,
		    			bianhao:$("#shangpinhh").val(),
		    			goodsname:$("#shangpinmc").val(),
		    			salesprice:$("#shangpinxs").val(),
		    			costprice:$("#shangpincb").val(),
		    			stock:$("#shangpinkc").val(),
		    			typeid: $("#shangpinlbss").val(),
		    	miaoshu:editor.txt.text(),
		    	sid:1,
		    	goodsphoto:result,
		    	spx:[]
		     	};
		    	for(var i=0;i<$(".spxbiao").length;i++){
		    		var spxsaq={		    			
		    				bianhao:$("#shangpinhh").val(),
			    			color:"",
			    			goodssize:"",
			    			shapecode:"",
			    			count:""}		    		
		    		spxsaq.color=$(".yszhi").eq(i).text();
		    		spxsaq.goodssize=$(".cczhi").eq(i).text();
		    		spxsaq.shapecode=$(".shangpinshchtiaoma").eq(i).text();
		    		spxsaq.count=$(".shul").eq(i).val();
		    		list.spx[i]=spxsaq
		    	}
		    	//alert(JSON.stringify(list));
			    	$.ajax({
			    		data:JSON.stringify(list),
			    		type:"json",
			    		url:"[[@{goods/insertzhuxiang}]]",
			    		dateType:"json",
			    		contentType : "application/json;charset=utf-8",
			    		success:function(res){
			    			if(res>0){
			    				//alert("cg");
			    				$.ajax({
			    		        	type:"post",
			    		        	url:"/money",
			    		        	data:{dataid:"shop_managerment"},
			    		        	dataType:"html",
			    		        	success:function(res){
			    		        		$("#add").html("");
			    		        		$("#add").append(res);
			    		        	}
			    		        });
			    			}
			    		}
			    	});
			}
		});
    	
    	
    	
    	
    	
    	
    	
    }
    
    
    
    
    
    
    
    
	function initxx(index) {
		$.ajax({
			url : "[[@{/dianpu/go}]]",
			data : {
				method : index
			},
			dataType : "html",
			success : function(res) {
				$("#lb").empty();
				$("#lb").append(res);
			}
		});
	}
    
   
    
    function ccclick(){
    	spsf();
    }
    
    function shangpinccxs(){
    	$.ajax({
			url:"[[@{/goods/chicunquery}]]",
			type:"get",
			dataType:"json",
			success:function(res){
				$.each(res,function(i,obj){
					var $cc=`<span class="col-md-3"><input type="checkbox" class="cima" onclick="ccclick()" value="${obj.goodsize}"/>${obj.goodsize}</span>`;
					$("#spccxs").append($cc);
				});
			}
		});
    }
    
    function sqjd(){
    	//alert(11);
    	spsf();
    }
    function xqys(obj){
    	//alert(11);
    	for(var i=0;i<$(".yss:checked").length;i++){
    		if($(obj).prev().val()==$(".yss:checked").eq(i).val()){
    			$(".yss:checked").eq(i).prop("checked",false);
    		}
    	}
    	$(obj).parent().parent().remove();
    	if($("#ysxxx").html()==null){
    		$("#ysbiao").hide();
    	}
    	spsf();
    }
    
    function bzxs(obj){
    	
    	if($(obj).prop("checked")){
    		$("#ysbiao").show();
        	var vla=$(obj).val();
    		var $ystbb=`<tr class="row">
			<td class="col-md-6" style="text-align: center;"><input type="text" class="sysxz" value="${vla}" onblur="sqjd()"><button class="xqys" onclick="xqys(this)">x</button>
			</td>
		</tr>`;
		//spsf();
		$("#ysxxx").append($ystbb);
    	}else{
    		for(var i=0;i<$(".sysxz").length;i++){
        		if($(".sysxz").eq(i).val()==$(obj).val()){
        			//$(".yss:checked").eq(i).prop("checked",false);
        			//alert(11);
        			$(".sysxz").eq(i).parent().parent().remove();
    	        	if($("#ysxxx").html()==null){
    	        		$("#ysbiao").hide();
    	        	}
    	        	spsf();
        		}
        	}
    	}
    	
    }
   
    	
    function spsf(){
    					$("#spxtb").html(" ");
    					var forz=$(".cima:checked").length*$(".yss:checked").length;
    					var index=$(".cima:checked").length-1;
    					//var indexs=$(".yss:checked").length;
    					var ins=0;
    					var ysxzshil=$(".yss:checked").length;
    					var cmxzshul=$(".cima:checked").length;
    					
    					var vtm=new Date();
        				var yearss=vtm.getFullYear();
        				var muoth=vtm.getMonth()+1;
        				var day=vtm.getDate();
        				var time=vtm.getMinutes();
        				var timess=vtm.getSeconds();
        				var hm=vtm.getMilliseconds();
    					if(forz==0){
    						if($(".cima:checked").length==1){
    							
    	        				if($(".ysemc").length>=1){
        							if($(".ysemc").val()!=null){
        								
        								for(var i=0;i<$(".ysemc").length;i++){
	        								var $spxs="<tr class='spxbiao'>";
			    		        			$spxs+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>"+$(".ysemc").eq(i).val();
			    	        				$spxs+="</span>/<span class='cczhi'>"+$(".cima:checked").eq(0).val()+"</span></td>";
			    	        				$spxs+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
			    							"<td class='col-md-4 shangpinshchtiaoma'  style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
			    						"</tr>";
			    	        				$("#spxtb").append($spxs);
	        							}
        							}
        						}else{
        							var $spx="<tr class='spxbiao'>";
	    		        			$spx+="<td class='col-md-4  ' style='text-align: center;'><span class='yszhi'>-";
	    	        				$spx+="</span>/<span class='cczhi'>"+$(".cima:checked").eq(0).val()+"</td>";
	    	        				$spx+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
	    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
	    						"</tr>";
	    	        				$("#spxtb").append($spx);
        						}
    	        				
    						}else if($(".cima:checked").length>1){
    							
    	        				if($(".ysemc").length>=1){
        							if($(".ysemc").val()!=null){
        								for(var i=0;i<cmxzshul;i++){
	        								for(var j=0;j<$(".ysemc").length;j++){
		        								var $spxs="<tr class='spxbiao'>";
				    		        			$spxs+="<td class='col-md-4' style='text-align: center;'> <span class='yszhi'>"+$(".ysemc").eq(j).val();
				    	        				$spxs+="</span>/<span class='cczhi'>"+$(".cima:checked").eq(i).val()+"</td>";
				    	        				$spxs+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
				    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
				    						"</tr>";
				    	        				$("#spxtb").append($spxs);
		        							}
        								}
        							}
        						}else{
        							for(var i=0;i<cmxzshul;i++){
	        							var $spx="<tr class='spxbiao'>";
		    		        			$spx+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>-";
		    	        				$spx+="</span>/<span class='cczhi'>"+$(".cima:checked").eq(i).val()+"</td>";
		    	        				$spx+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
		    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
		    						"</tr>";
		    	        				$("#spxtb").append($spx);
        							}
        						}
    	        				
    							
    						}else{
    							
    							if($(".ysemc").length>=1){
        							if($(".ysemc").val()!=null){
        								//alert($(".ysemc").length);
        								for(var i=0;i<$(".ysemc").length;i++){
	        								var $spxs="<tr class='spxbiao'>";
			    		        			$spxs+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>"+$(".ysemc").eq(i).val();
			    	        				$spxs+="</span>/<span class='cczhi'>-</td>";
			    	        				$spxs+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
			    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
			    						"</tr>";
			    						//alert($spxs);
			    	        				$("#spxtb").append($spxs);
	        							}
        							}
        						}
    						}
    						if(ysxzshil==1){
    							var $spx="<tr class='spxbiao'>";
    		        			$spx+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>"+$(".yss:checked").eq(0).val();
    	        				$spx+="</span>/<span class='cczhi'>-</td>";
    	        				$spx+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
    						"</tr>";
    	        				$("#spxtb").append($spx);
    						}else if(ysxzshil>1){
    							for(var i=0;i<ysxzshil;i++){
    								var $spx="<tr class='spxbiao'>";
	    		        			$spx+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>"+$(".yss:checked").eq(i).val();
	    	        				$spx+="</span>/<span class='cczhi'>-</td>";
	    	        				$spx+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
	    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
	    						"</tr>";
	    	        				$("#spxtb").append($spx);
    							}
    							
    						}
    						//$("#spxtb").append($spx);
    					}else{
    						
    	        				
    	        				if(ysxzshil==cmxzshul){
    	        					//alert("1");
    	        					
    	        					for(var i=0;i<cmxzshul;i++){
    	        						for(var j=0;j<ysxzshil;j++){
    	        							var $spx="<tr class='spxbiao'>";
			    		        			$spx+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>"+$(".yss:checked").eq(j).val();
			    	        				$spx+="</span>/<span class='cczhi'>"+$(".cima:checked").eq(i).val()+"</td>";
			    	        				$spx+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
			    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
			    						"</tr>";
			    	        				$("#spxtb").append($spx);
	    	        					}
    	        					}
    	        					
    	        					if($(".ysemc").length>=1){
	        							if($(".ysemc").val()!=null){
	        								for(var i=0;i<cmxzshul;i++){
		        								for(var j=0;j<$(".ysemc").length;j++){
			        								var $spx="<tr class='spxbiao'>";
					    		        			$spx+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>"+$(".ysemc").eq(j).val();
					    	        				$spx+="</span>/<span class='cczhi'>"+$(".cima:checked").eq(i).val()+"</td>";
					    	        				$spx+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()' ></td>"+
					    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
					    						"</tr>";
					    	        				$("#spxtb").append($spx);
			        							}
	        								}
	        							}
	        						}
    	        					
    	        				}else if(cmxzshul<ysxzshil){
    	        					
    	        					//alert("2");
    	        					for(var i=0;i<cmxzshul;i++){
    	        						for(var j=0;j<ysxzshil;j++){
    	        							var $spx="<tr class='spxbiao'>";
			    		        			$spx+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>"+$(".yss:checked").eq(j).val();
			    	        				$spx+="</span>/<span class='cczhi'>"+$(".cima:checked").eq(i).val()+"</td>";
			    	        				$spx+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
			    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
			    						"</tr>";
			    	        				$("#spxtb").append($spx);
	    	        					}
    	        					}
    	        					if($(".ysemc").length>=1){
	        							if($(".ysemc").val()!=null){
	        								for(var i=0;i<cmxzshul;i++){
		        								for(var j=0;j<$(".ysemc").length;j++){
			        								var $spx="<tr class='spxbiao'>";
					    		        			$spx+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>"+$(".ysemc").eq(j).val();
					    	        				$spx+="</span>/<span class='cczhi'>"+$(".cima:checked").eq(i).val()+"</td>";
					    	        				$spx+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
					    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
					    						"</tr>";
					    	        				$("#spxtb").append($spx);
			        							}
	        								}
	        							}
	        						}
	    						
	    						
    	        				}else if(cmxzshul>ysxzshil){
    	        				//	alert("3");
    	        					for(var i=0;i<ysxzshil;i++){
    	        						for(var j=0;j<cmxzshul;j++){
    	        							var $spx="<tr class='spxbiao'>";
			    		        			$spx+="<td class='col-md-4' style='text-align: center;'><span class='yszhi'>"+$(".yss:checked").eq(i).val();
			    	        				$spx+="</span>/<span class='cczhi'>"+$(".cima:checked").eq(j).val()+"</td>";
			    	        				$spx+="<td class='col-md-4' style='text-align: center;'><input type='text' class='shul' onblur='spxshul()'></td>"+
			    							"<td class='col-md-4 shangpinshchtiaoma' style='text-align: center;'>"+yearss+""+muoth+""+day+"00"+parseInt(100*Math.random());+"</td>"+
			    						"</tr>";
			    	        				$("#spxtb").append($spx);
	    	        					}
    	        					}
    	        				}
    					}
    				var spkc=0;
    				for(var i=0;i<$(".shul").length;i++){
    					spkc+=$(".shul").eq(i).val();
    				}
    				$("#shangpinkc").val(spkc);
    		}
    		
   	
 
    	
    function spxshul(){
    	$("#shangpinkc").val(" ");
    	var spkc=0;
		for(var i=0;i<$(".shul").length;i++){
			spkc+=parseInt($(".shul").eq(i).val());
		}
		$("#shangpinkc").val(spkc);
    }
    
   
    function quxiao(){
    	$.ajax({
        	type:"post",
        	url:"/money",
        	data:{dataid:"shop_managerment"},
        	dataType:"html",
        	success:function(res){
        		$("#add").html("");
        		$("#add").append(res);
        	}
        });
    }
    
    $(function(){
    	$("#shangpincb").blur(function(){
    		
    		if($(this).val()>$("#shangpinxs").val()){
    			
    		}
    	})
    })
</script>
</body>
</html>