<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/store_management.css">
    <!-- <script type="text/javascript">_init_area();</script> -->
    
    <!-- 以下是编辑门店要用到的 -->
    <style type="text/css">
		.demo{width:350px; margin:100px auto 10px auto;}
		#g1,#g2{margin-top:50px}
		
		</style>

		
    
    
    <style>
    	.modal-backdrop {
		  /* opacity: 0 !important;
		  filter: alpha(opacity=0) !important;//解决背景颜色加深问题 */
		}
    </style>
    <style>
    	.addUserDialog .dialog_bd {
		    padding-left: 74px;
		    padding-top: 50px;
		    padding-right: 0;
		    padding-bottom: 50px;
		}
		.addUserDialog .list {
		    float: left;
		    margin-bottom: 14px;
		    width: 340px;
		}
		.addUserDialog .list span {
		    float: left;
		    width: 50px;
		    padding-top: 6px;
		    position: relative;
		}
		.dropDownBox {
		    cursor: pointer;
		    float: left;
		    height: 34px;
		    position: relative;
		    background-color: #FFF;
		    border: 1px solid #e7e7eb;
		}
		.dropDownBox .comboxText {
		    background-color: #FFF;
		    margin-top: 7px;
		    padding-left: 8px;
		    padding-right: 26px;
		    border: 0 none;
		    cursor: pointer;
		    float: left;
		    height: 18px;
		    line-height: 18px;
		}
		.dropDownBox .comboxArrow {
		    background: url(http://www.poso2o.com/ECSHOP/style/img/mark.gif) 0 -58px no-repeat;
		    width: 18px;
		    height: 18px;
		    cursor: pointer;
		    opacity: .8;
		    filter: alpha(opacity=80);
		    position: absolute;
		    right: 2px;
		    top: 7px;
		    border-left: none;
		}
		.dropDownBox .pannel {
		    position: absolute;
		    background: #fff;
		    border: 1px #44b549 solid;
		    overflow: hidden;
		    z-index: 100;
		}
		.dropDownBox .pannel {
		    top: 34px;
		    max-height: 210px;
		    left: -1px;
		}
		.dropDownBox .pannel a {
		    display: block;
		    height: 32px;
		    line-height: 30px;
		    padding: 0 0 0 8px;
		    cursor: pointer;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.addUserDialog .list {
		    float: left;
		    margin-bottom: 14px;
		    width: 340px;
		}
		.dropDownBox {
		    cursor: pointer;
		    float: left;
		    height: 34px;
		    position: relative;
		    background-color: #FFF;
		    border: 1px solid #e7e7eb;
		    -webkit-border-radius: 2px;
		    -moz-border-radius: 2px;
		    border-radius: 2px;
		}
		.addUserDialog input,select{
			height:30px;
		}
		.addUserDialog select{
			width:175px;
		}
    </style>
    
<!-- 三级联动 -->
 	<script type="text/javascript" th:src="@{js/area.js}"></script>
 	<script type="text/javascript">_init_area();</script>
</head>
<body>
        <div class="rightarea clearfix" id="content">
        	<!-- <form id="insertForm" name="form"  method="post" enctype="multipart/form-data"> -->
            <div class="mainarea clearfix" id="querystore">
                <div class="user_list_main clearfix">
                    <div class="user_list_body clearfix">
                        <div class="sub_title">门店列表</div>
                        
                        
                        <div class="btn-div addUserDialog dialog">
	                    <!-- 添加员工的模态框 -->
	                    <!-- Button trigger modal -->
						<button  type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" style="float: right;position: relative;top: -23px;">
						  添加门店
						</button>
						
						<form id="insertForm" name="form"  method="post" enctype="multipart/form-data"> 
							<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-spanledby="myModalspan">
							  <div class="modal-dialog" role="document"  style="width:1100px;">
							    <div class="modal-content">
							      <div class="modal-header" style="background-color: #f4f5f9;">
							        <button type="button" class="close" data-dismiss="modal" aria-span="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalspan">添加门店</h4>
							      </div>
							      <div class="modal-body"  style="height:720px;">
							      
							      	<!-- 新增门店的内容 -->
					            	<div style="height: 515px;width: 240px;">
									<div class="ibox-content" style="width: 26%;">
										<div class="row">
											<div id="crop-avatar" class="col-md-6" data-toggle="modal" data-target="#storeUpdateModal" >
												<div class="avatar-view" title="添加图片">
													<label for="avatarInput">图片上传</label>
													<div id="headupload">
														<input name="insertFiles" class="avatar-input" id="avatarInput" type="file">
													</div>
												</div>
											</div>
										</div>
									</div>
									<label for="exampleInputName2" style="font-size: 15px;margin-top: 10px;">店铺名称:</label>
									
									<input name="shopname" type="text" class="form-control" minlength="1" maxlength="12" id="shopInput" placeholder="请填写店名" style="width:93%;" oncontextmenu="return false;">
									<label for="exampleInputName2" style="font-size: 6px;color: grey;">格式：最长由12个中文、字母或数字组成</label>
									<div>
										<textarea name="introduction" rows="9" style="resize:none;width: 93%;margin-top:10px;font-size: 12px;" placeholder="店铺简介" v-model="shop.introduction"></textarea>
									<div>
									<div>
										<label for="exampleInputName2" style="font-size: 10px;color: grey;">格式：最长由100个中文、字母或数字组成</label>
									</div>
								</div>
								
								<div style="position: absolute;margin-left:260px;margin-top:-513px;width:800px;border: 1px solid gainsboro;">
									  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 2%;">
									    <label for="exampleInputName2">联&nbsp&nbsp系&nbsp&nbsp人&nbsp&nbsp</label>
									    <input name="contacts" type="text" v-model="shop.contacts" class="form-control" id="exampleInputName2" placeholder="联系人姓名" style="width: 60%;">
									  </div>
									  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
									    <label for="exampleInputEmail2">手&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp机&nbsp&nbsp</label>
									    <input name="phonenumber" type="text" v-model="shop.phonenumber" class="form-control" id="exampleInputEmail2" placeholder="手机号码" style="width: 60%;">
									  </div>
									  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
									    <label for="exampleInputEmail2">固&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp话&nbsp&nbsp</label>
									    <input name="phone" type="text" v-model="shop.phone" class="form-control" id="exampleInputEmail2" placeholder="固定电话" style="width: 60%;">
									  </div>
									  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
									    <label for="exampleInputEmail2">营业时间&nbsp&nbsp&nbsp</label>
										<div style="margin-top: -21%;margin-left: -13%;">
											<div class="demo" onmouseup="mouseup()">
												<input class="range-slider" type="hidden" value="480,1320"/>
											</div>
										</div>
									  </div>
									  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
									    <input name="starttime" class="col-md-6" type="text" readonly="readonly" id="one1" style="width: 100px;margin-left: 20%;"/>
									  	<input name="endtime" class="col-md-6" type="text" readonly="readonly" id="two2" style="width: 100px;margin-left: 10%;"/>
									  </div>
									  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
									    <label for="exampleInputEmail2">地&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp址&nbsp</label>
										  <div class="form-group" data-toggle="distpicker">
											<!-- <select name="province" v-model="shop.province" data-province="---- 选择省 ----" style="margin-right:5px;margin-left:5px;border: 1px solid gainsboro;"><option>选择省</option></select>
											<span>-</span><select name="city" v-model="shop.city" data-city="---- 选择市 ----" style="margin-right:5px;margin-left:10px;border: 1px solid gainsboro;"><option>选择市</option></select>
											<span>-</span><select name="region" v-model="shop.region" data-district="---- 选择区 ----" style="margin-left:10px;border: 1px solid gainsboro;"><option>选择区</option></select> -->
											<div class="address_edit"><select class="form-control" id="s_province" name="s_province" style="width: 25%;display: inline-block;"></select>

				                            <select class="form-control" id="s_city" name="s_city" style="width: 25%;display: inline-block;"></select>
				
				                            <select class="form-control" id="s_county" name="s_county" style="width: 25%;display: inline-block;"></select>
										  </div>
										  </div>
									    	
									      <!-- <div class="address_edit">
									      	<select class="form-control" id="s_province" name="s_province" style="width: 25%;display: inline-block;"></select>  
				                            <select class="form-control" id="s_city" name="s_city" style="width: 25%;display: inline-block;"></select>
				                            <select class="form-control" id="s_county" name="s_county" style="width: 25%;display: inline-block;"></select>
										  </div> -->
										 <div id="distpicker1">
					                        <select  name="province" id="" class="form-control" style="width: 150px;float: left;">
					                        </select>
					                        <span style="float:left;margin: 0 5px">-</span>
					                        <select  name="city" id="" class="form-control" style="width: 150px;float: left;">
					                        </select>
					                        <span style="float:left;margin: 0 5px">-</span>
					                        <select  name="region" id="" class="form-control" style="width: 150px;float: left;">
					                        </select>
				                       </div>
											
									  </div>
									  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 3%;margin-bottom: 2%;">
									    <input name="detailaddress" type="text" v-model="shop.detailaddress" class="form-control" id="exampleInputName2" placeholder="详细地址" style="width: 60%;margin-left: 12.5%;">
									  </div>
								</div>
								
								
						
								<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
					
					            	
					            </div>
					        </div>
									
							      </div>
							      <div class="modal-footer" style="background-color: #f4f5f9;text-align: center">
								        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								        <button type="button" class="btn btn-primary" onclick="insertshop()">确定</button>
								  </div>
							    </div>
							  </div>
							</div>
						 </form>
							
	                </div>
	                </div>
                        
                        <table class="clearfix settable">
                            <thead>
                                <tr>
                                    <th width="4%">序号</th>
                                    <th width="14%">账号</th>
                                    <th width="14%">店名</th>
                                    <th width="5%">员工</th>
                                    <th width="10%">联系人</th>
                                    <th width="10%">手机</th>
                                    <th width="10%">电话</th>
                                    <th width="*">地址</th>
                                    <th width="8%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr v-for="item in page.list">
                                    <td>{{item.shopid}}</td>
                                    <td>{{item.shopuser}}</td>
                                    <td>{{item.shopname}}</td>
                                    <td>{{item.staffcount}}</td>
                                    <td>{{item.contacts}}</td>
                                    <td>{{item.phonenumber}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.address}}</td>
                                    <td>
                                        <a href="javascript:;" @click="updateStore(item.shopid)">编辑</a>
                                        <a href="javascript:;" @click="delStore(item.shopid)">删除</a>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                        <p class="prompt">注：可添加多家门店，系统自动分配订单到附近门店。</p>
                    </div>
                    
                    
                    <!-- 分页按钮 -->
                	<div class="pagebar" style="text-align: center">
	                    <div class="pagetion">
	                       <div class="page">
                               <ul class="pagination">
                                   <li>
                                       <a onclick="getPage(1)" href="javascript:;">首页</a>
                                   </li>
                                   <li style="margin-left: 20px; float:left;">
                                       <input name="tz" type="text" class="form-control" style="width: 100px;" id="inputPages">
                                   </li>
                                   <li>
                                       <a id="wei" style="margin-left:20px;" onclick="wei()" href="javascript:;">尾页</a>
                                   </li>
                                   
                                   <li style="margin-left: 15px; float:left;">
                                       <a onclick="tz()" href="javascript:;" class="btn btn-default">跳转</a>
                                   </li>
                               </ul>
	                       </div> 
	                    </div>
                	</div> 
                	
                </div>
         
         <form id="updateForm"  method="post" enctype="multipart/form-data">
            <div id="noneUpdate" style="position:relative;bottom:0px;left:0px;">
            	<!-- 编辑门店的内容 -->
            	<div style="height: 515px;width: 240px;">
				<div class="ibox-content" style="width: 26%;">
					<div class="row">
					
						<div id="crop-avatar" class="col-md-6">
							<div class="avatar-view" title="添加图片">
								<input name="updateFiles" class="avatar-input" id="avatarInput" type="file">
								<img id="shopimg" alt="Logo" width="100px" height="220px">
							</div>
							
						</div>
					</div>
				</div>
				<label for="exampleInputName2" style="font-size: 15px;margin-top: 10px;">店铺名称:</label>
				<input type="hidden" name="shopid" id="shopid"/>
				<input name="shopname" v-model="shop.shopname" type="text" class="form-control" minlength="1" maxlength="12" id="shopInput" placeholder="请填写店名" style="width:93%;" oncontextmenu="return false;">
				<label for="exampleInputName2" style="font-size: 6px;color: grey;">格式：最长由12个中文、字母或数字组成</label>
				
        		</div>
        		<div>
					<textarea name="introduction" rows="9" cols="35" style="resize:none;margin-top:10px;font-size: 12px;" placeholder="店铺简介"></textarea>
				<div>
				<div>
					<label for="exampleInputName2" style="font-size: 10px;color: grey;">格式：最长由100个中文、字母或数字组成</label>
				</div>
			</div>
			
			<div style="position: absolute;margin-left:260px;margin-top:-700px;width:600px;border: 1px solid gainsboro;">
				  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 2%;">
				    <label for="exampleInputName2">联&nbsp&nbsp系&nbsp&nbsp人&nbsp&nbsp</label>
				    <input name="contacts"  v-model="shop.contacts" type="text" class="form-control" id="exampleInputName2" placeholder="联系人姓名" style="width: 60%;">
				  </div>
				  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
				    <label for="exampleInputEmail2">手&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp机&nbsp&nbsp</label>
				    <input name="phonenumber"  v-model="shop.phonenumber" type="text" class="form-control" id="exampleInputEmail2" placeholder="手机号码" style="width: 60%;">
				  </div>
				  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
				    <label for="exampleInputEmail2">固&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp话&nbsp&nbsp</label>
				    <input name="phone" v-model="shop.phone" type="text" class="form-control" id="exampleInputEmail2" placeholder="固定电话" style="width: 60%;">
				  </div>
				  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
				    <label for="exampleInputEmail2">营业时间&nbsp&nbsp&nbsp</label>
					<div style="margin-top: -21%;margin-left: -13%;">
						<div class="demo" onmouseup="mouseup()">
							<input class="range-slider" type="hidden" value="480,1320"/>
						</div>
					</div>
				  </div>
				  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
				    <input v-model="shop.starttime" name="updateStarttime" class="col-md-6" type="text" readonly="readonly" id="one1" style="width: 100px;margin-left: 20%;"/>
				  	<input v-model="shop.endtime" name="updateEndtime"  class="col-md-6" type="text" readonly="readonly" id="two2" style="width: 100px;margin-left: 10%;"/>
				  </div>
				  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 7%;">
				    <label for="exampleInputEmail2">地&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp址&nbsp</label>
					  <div class="address_edit">
					  		<select class="form-control" id="s_province" name="province" style="width: 25%;display: inline-block;"></select>
                            <select class="form-control" id="s_city" name="city" style="width: 25%;display: inline-block;"></select>
                            <select class="form-control" id="s_county" name="region" style="width: 25%;display: inline-block;"></select>
                      </div>
				  </div>
				  <div class="form-group col-md-12" style="margin-left: 13%;margin-top: 3%;margin-bottom: 2%;">
				    <input name="detailaddress" v-model="shop.detailaddress" type="text" class="form-control" id="exampleInputName2" placeholder="详细地址" style="width: 60%;margin-left: 12.5%;">
				  </div>
				  	<button type="button" class="btn btn-default col-md-3" style="margin-left: 22.5%;margin-bottom: 2%;margin-top: 1%;" id="returnInsert">返回</button>
				    <button type="button" class="btn btn-success col-md-3" style="margin-left: 2.5%;margin-bottom: 2%;margin-top: 1%;" onclick="updateStoreById()">确定</button>
			</div>
			
			
			<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

            	
            </div>
        </div> 
        </form>
      </div>
     <!-- <script src="../js2/main.js"></script> -->
      <!-- <script src="../js2/distpicker.data.js"></script>
	  <script src="../js2/distpicker.js"></script> --> 
	  
      <!-- 时间的js -->
      <script type="text/javascript" src="../js/jquery.range.js"></script>
      
        <script type="text/javascript">
        	$(function(){
        		$("#querystore").show();
        		$("#noneUpdate").hide();
        		
        		$("#returnInsert").click(function(){
        			$("#querystore").show();
            		$("#noneUpdate").hide();
        		})
        	})
        	
        </script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
        <script type="text/javascript">
        	$(function(){
        		//alert(555);
        		getPage(1);
        		
        	})
        	function tz(){
       			var page = $("[name=tz]").val();
       			getPage(page);
        	}
        	
        	function wei(){
        		var pages = $("#wei").attr("pages");
        		getPage(pages);
        	}
        	
        	function getPage(pageNum){
        		$("tbody").empty();
        		$.ajax({
    				url:"[[@{shop/queryShopList}]]",
    				data:"pageNum="+pageNum+"&pageSize=5",
    				success:function(result){
    					console.log(result);
    					$("#wei").attr("pages",result.pages);
    					$.each(result.list,function(i,obj){
    						var tr = $("<tr>"+
                                    "<td>"+obj.shopid+"</td>"+
                                    "<td>"+obj.shopuser+"</td>"+
                                    "<td>"+obj.shopname+"</td>"+
                                    "<td>"+obj.staffcount+"</td>"+
                                    "<td>"+obj.contacts+"</td>"+
                                    "<td>"+obj.phonenumber+"</td>"+
                                    "<td>"+obj.phone+"</td>"+
                                    "<td>"+obj.address+"</td>"+
                                    "<td>"+
                                    "<a href='javascript:;' onclick='updateStore("+obj.shopid+")'>编辑</a>"+
                                    "<a href='javascript:;' onclick='delStore("+obj.shopid+")'>删除</a>"+
                                    "</td>"+
                             "</tr>");
    						$("tbody").append(tr);
    					})
    						
    					
    				}
    			});
        	}
        	
        	function insertshop(){
        		var formData = new FormData($('#insertForm')[0]);
				
				console.log(formData.get("city"));
				$.ajax({
					url:"[[@{/shop/uploadAjax}]]",
					data:formData,
					type:"post",
					processData:false,
					contentType:false,
					success:function(result){
						console.log(result);
						$('#myModal').modal('hide');
						document.getElementById("insertForm").reset();
						getPage(1);
					}
				});
        	}
        	
        	function updateStoreById(){
        		var formData = new FormData($('#updateForm')[0]);
				console.log($('form').html())
				console.log(formData.get("shopname"));
				//console.log(formData.get("shopimg"));
				$.ajax({
					url:"shop/updateStoreById",
					data:formData,
					type:"post",
					processData:false,
					contentType:false,
					success:function(result){
						console.log(result);
						$("#querystore").show();
	            		$("#noneUpdate").hide();
						storeVue.getPage(1);
					}
				});
        	}
        	
        	function delStore(shopid){
        		$.ajax({
					url:"shop/delStoreById",
					data:{shopid:shopid},
					type:"post",
					success:function(result){
						alert("删除成功");
						getPage(1);
					}
				})
        	}
        	
        	function updateStore(shopid){
        		$("#shopid").val(shopid);
				$("#querystore").hide();
				$("#noneUpdate").show();
				//点击编辑根据店铺id修改店铺
				var t = this;
				$.ajax({
					url:"shop/selectByShopid",
					data:{shopid:shopid},
					success:function(result){
						console.log(result);
						$("#shopimg").attr("src",result.shopimg);
						$("[name=contacts]").val(result.contacts);
						$("[name=detailaddress]").val(result.detailaddress);
						$("[name=introduction]").html(result.introduction);
						$("[name=phone]").val(result.phone);
						$("[name=phonenumber]").val(result.phonenumber);
						$("[name=shopname]").val(result.shopname);
						$("[name=shopuser]").val(result.shopuser);
						/* $("[name=province]").val(result.province);
						$("[name=city]").val(result.city);
						$("[name=region]").val(result.region); */
						$("[name=updateStarttime]").val(result.starttime);
						$("[name=updateEndtime]").val(result.endtime);
						getPage(1);
					}
				})
        	}
        </script>
       <!-- <script type="text/javascript">
        	var storeVue = new Vue({
        		el:"#content",
        		data(){
        			return {
        				page:{
        					list:[]
        				},
        				shop:{
        					
        				}
        			}
        		},
        		methods:{
        			delStore:function(shopid){
        				var t = this;
        				$.ajax({
    						url:"shop/delStoreById",
    						data:{shopid:shopid},
    						type:"post",
    						success:function(result){
    							alert("删除成功");
    							t.getPage(1);
    						}
    					})
        			},
        			updateStoreById:function(){
						var formData = new FormData($('#updateForm')[0]);
        				console.log($('form').html())
        				console.log(formData.get("shopname"));
        				//console.log(formData.get("shopimg"));
        				$.ajax({
        					url:"shop/updateStoreById",
        					data:formData,
        					type:"post",
        					processData:false,
        					contentType:false,
        					success:function(result){
        						console.log(result);
        						$("#querystore").show();
    		            		$("#noneUpdate").hide();
        						storeVue.getPage(1);
        					}
        				}); 
        			},
        			insertshop:function(){
        				var formData = new FormData($('#insertForm')[0]);
        				
        				console.log(formData.get("city"));
        				$.ajax({
        					url:"[[@{/shop/uploadAjax}]]",
        					data:formData,
        					type:"post",
        					processData:false,
        					contentType:false,
        					success:function(result){
        						console.log(result);
        						$('#myModal').modal('hide');
        						document.getElementById("insertForm").reset();
        						storeVue.getPage(1);
        					}
        				});
        			},
        			tz:function(){
        				var pageNum = $("#inputPages").val();
        				storeVue.getPage(pageNum);
        			},
        			updateStore:function(shopid){
        				$("#shopid").val(shopid);
        				$("#querystore").hide();
        				$("#noneUpdate").show();
        				//点击编辑根据店铺id修改店铺
        				var t = this;
        				$.ajax({
        					url:"shop/selectByShopid",
        					data:{shopid:shopid},
        					success:function(result){
        						t.shop = result;
        						$("#shopimg").attr("src",t.shop.shopimg);
        						$("[name=updateStarttime]").val(t.shop.starttime);
        						$("[name=updateEndtime]").val(t.shop.endtime);
        					}
        				})
        			},
        			blockStore:function(){
        				$("#noneUpdate").hide();
        				$("#querystore").show();
        			},
        			getPage:function(pageNum){
        				var that = this;
            			$.ajax({
            				url:"[[@{shop/queryShopList}]]",
            				data:"pageNum="+pageNum+"&pageSize=5",
            				success:function(result){
            					console.log(result);
            					that.page = result;
            				}
            			});
        			}
        		},
        		created:function(){
        			this.getPage(1);
        		}
        	});
        </script>  -->
        
        
		<!-- 时间 -->
        <!-- <script type="text/javascript" th:src="@{js/jquery.min2.js}"></script> -->
    <script type="text/javascript" th:src="@{js/jquery.range.js}"></script>
		<script type="text/javascript">
			$(function(){
				onkey();		//键盘监听
				rangeSlider();	//选取时间
				g2Click();		//获取时间范围
				loading();		//加载事件
			});
			
			function loading(){
				$("#one1").val($(".pointer-label:eq(0)").html());
				$("#two2").val($(".pointer-label:eq(1)").html());
			}
			
			function mouseup(event){  //设置鼠标松开时的颜色
				$("#one1").val($(".pointer-label:eq(0)").html());
				$("#two2").val($(".pointer-label:eq(1)").html());
			}
			
			function rangeSlider(){
				$('.range-slider').jRange({
					from: 0, to: 1440, step:30,
					scale: ['00:00','04:00','08:00','12:00','16:00','20:00','24:00'],
					format: '%s',
					width: 400,
					showLabels: true,
					isRange : true
				});
			}
			
			function g2Click(){
				$("#g2").click(function(){
					var aa = $(".range-slider").val();
					alert(aa);
				});
			}
			
			function onkey(){
				$("#shopInput").attr("onkeyup", "if(this.value.length>12){alert(1);}");
			}
		</script> 
</body>
</html>