<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/supplier.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    
    <script type="text/javascript" th:src="@{js/vue.js}"></script>
    <script src="js/distpicker.data.js"></script>
	  <script src="js/distpicker.js"></script>
	  <script src="js/main.js"></script>
    
</head>
<body>
<div class="rightarea clearfix" >
    <div class="mainarea clearfix" id="suppvue">
        <div class="mainhead">
            <span class="title">供应商</span>
            <div class="searchArea">
                <div class="btn-div">
                    <a href="" class="btn btn-success" data-toggle="modal" data-target="#supplierModal">
                        添加供应商
                    </a>
                </div>
            </div>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找">
                <a href="" class="search-btn"></a>
            </div>
            <div class="list">
            
           <div data-toggle="distpicker">
        <div class="form-group" style="display: inline-block;">
          
          <select class="form-control" id="province7" @change="shengpage()"></select>
        </div>
        
      </div>
           
        </div>
         <div class="list">
                <span style="position: relative;top: 10px;">地&nbsp;&nbsp;&nbsp;&nbsp;区</span>
            </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="12%">简称</th>
                    <th width="16%">公司名称</th>
                    <th width="8%">联系人</th>
                    <th width="11%">手机</th>
                    <th width="11%">电话</th>
                    <th width="15%">邮箱</th>
                    <th width="14%">地区</th>
                    <th width="8%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="tiem,index in page.list">
                    <td>
                      {{index+1}}
                    </td>
                    <td>{{tiem.cohr}}
                    </td>
                    <td>{{tiem.suppliername}}
                    </td>
                    <td >{{tiem.contact}}
                    </td>
                    <td>{{tiem.phone}}</td>
                    <td>{{tiem.telephone}}</td>
                    <td>{{tiem.email}}</td>
                    <td>-</td>
                    <td>
                        <a href="">删除</a>
                        <a href="">编辑</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
		<div class="modal fade" id="supplierModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div style="width: 76.66%;"  class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">添加供应商</h4>
		            </div>
		            <div class="modal-body" style="padding:50px">
		            	<form class="form-horizontal">
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">公司名称</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						    
						     <label for="inputEmail3" class="col-sm-2 control-label"><i style="position: relative;top:4px;right:5px;color: red;">*</i>公司简称</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">联&nbsp;&nbsp;系  人</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						    
						     <label for="inputEmail3" class="col-sm-2 control-label"><i style="position: relative;top:4px;right:5px;color: red;">*</i>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						    
						     <label for="inputEmail3" class="col-sm-2 control-label">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						  </div>
						  
						   <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</label>
						    <div class="col-sm-10">
						      
						    <div class="address_edit"><select class="form-control" id="s_province" name="s_province" style="width: 25%;display: inline-block;"></select>  
                            <select class="form-control" id="s_city" name="s_city" style="width: 25%;display: inline-block;"></select>  
                            <select class="form-control" id="s_county" name="s_county" style="width: 25%;display: inline-block;"></select>
                            <script type="text/javascript">_init_area();</script></div>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">街&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道</label>
						    <div class="col-sm-8">
						      <input type="text" class="form-control">
						    </div>
						  </div>
						</form>
		            </div>
		            <div class="modal-footer" style="text-align: center;">
		                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 16.66%;">取消</button>
		                <button type="button" class="btn btn-success" style="width: 16.66%;">确认</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
	</div>
</body>
</html>

<script type="text/javascript">

	
	var supplier=new Vue({
		el:"#suppvue",
		data(){
			return{
				page:{
					list:[]
				}
			}
		},
		methods:{
			pages:function(dqy,sheng,shi,ming){
				var th=this;
				$.ajax({
					data:{pageNum:dqy,sheng:sheng,shi:shi,ming:ming},
					url:"[[@{goods/goodssupplierpage}]]",
					type:"post",
					success:function(res){
						console.log(res);
						th.page=res;						
					}
				});
			},
			shengpage:function(){
				var sheng= $("#province7").val();
				alert(sheng);
				this.pages(1,sheng,"","","");
			}
		},
		mounted:function(){
			this.pages(1,null,null,null,null);
		}
		
	});
</script>