<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/supplier.css">
    <link rel="stylesheet" href="css/bootstrap.css">
   <script src="js/distpicker.data.js"></script>
	  <script src="js/distpicker.js"></script>
	  <script src="js/main.js"></script>
    
</head>
<body>

<div class="rightarea clearfix" >
    <div class="mainarea clearfix" id="suppvue">
        <div class="mainhead">
            <span class="title">供应商</span>
            <div class="searchArea">
                <div class="btn-div">
                    <a href="" class="btn btn-success" data-toggle="modal" data-target="#supplierModal">
                        添加供应商
                    </a>
                </div>
            </div>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找" id="ming">
                <a href="javascript:void(0)" class="search-btn" onclick="mingpage()"></a>
            </div>
            <div class="list">
            <form class="form-inline">
      <div id="distpicker5">
        <div class="form-group">
          <label class="sr-only" for="province10">Province</label>
          <select class="form-control" id="province10" onchange="shengpage()"></select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="city10">City</label>
          <select class="form-control" id="city10" onchange="shengpage()"></select>
        </div>
      </div>
    </form>
            
            
            
        
             
        </div>
         <div class="list">
                <span style="position: relative;top: 10px;">地&nbsp;&nbsp;&nbsp;&nbsp;区</span>
            </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="12%">简称</th>
                    <th width="16%">公司名称</th>
                    <th width="8%">联系人</th>
                    <th width="11%">手机</th>
                    <th width="11%">电话</th>
                    <th width="15%">邮箱</th>
                    <th width="14%">地区</th>
                    <th width="8%">操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
               
                </tbody>
                
            </table>
             
				<!-- 分页按钮 -->
                	<div class="pagebar" style="text-align: center">
	                    <div class="pagetion">
	                       <div class="page">
                               <ul class="pagination">
                                    <li>
                                       <a id="shou" href="javascript:;">首页</a>
                                   </li>
                                   <li>
                                       <a  id="shang" href="javascript:;">&laquo;</a>
                                   </li>
                                   <li id="pages">
                                      <span style="font-size: 14px;" id="pagess"></span>
                                   </li>
                                   <li>
                                       <a  id="xia" href="javascript:;">&raquo;</a>
                                   </li>
                                   <li>
                                       <a id="wei" style=""  href="javascript:;">尾页</a>
                                   </li>
                                   <li style="margin-left: 20px; float:left;">
                                       <input name="tz" type="text" class="form-control" style="width: 100px;" id="inputPages">
                                   </li>
                                   <li style="margin-left: 15px; float:left;">
                                      <a  href="javascript:;" class="btn btn-default" id="tiao">跳转</a>
                                   </li>
                               </ul>
	                       </div> 
	                    </div>
                	</div> 
                
				
        </div>
    </div>
    <!-- 模态框（Modal） -->
		<div class="modal fade" id="supplierModal" tabindex="-1" role="dialog" aria-labelledby="supplierModalLabel" aria-hidden="true">
		    <div style="width: 76.66%;"  class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="supplierModalLabel">添加供应商</h4>
		            </div>
		            <div class="modal-body" style="padding:50px">
		            	<form class="form-horizontal">
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">公司名称</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" id="suppname" >
						    </div>
						    
						     <label for="inputEmail3" class="col-sm-2 control-label"><i style="position: relative;top:4px;right:5px;color: red;">*</i>公司简称</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" id="cohr" >
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">联&nbsp;&nbsp;系  人</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" id="contact" >
						    </div>
						    
						     <label for="inputEmail3" class="col-sm-2 control-label"><i style="position: relative;top:4px;right:5px;color: red;">*</i>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" id="phone" >
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" id="email" >
						    </div>
						    
						     <label for="inputEmail3" class="col-sm-2 control-label">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" id="telephone" >
						    </div>
						  </div>
						  
						   <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</label>
						    <div class="col-sm-10">
						         <form class="form-inline">
      <div data-toggle="distpicker">&nbsp;&nbsp;&nbsp;
        <div class="form-group" style="display: inline-block;width: 25%">
          <label class="sr-only" for="province2">Province</label>
          <select class="form-control" id="province2" data-province="---- 选择省 ----"></select>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-group" style="display: inline-block;width: 25%">
          <label class="sr-only" for="city2">City</label>
          <select class="form-control" id="city2" data-city="---- 选择市 ----"></select>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-group" style="display: inline-block;width: 25%">
          <label class="sr-only" for="district2">District</label>
          <select class="form-control" id="district2" data-district="---- 选择区 ----"></select>
        </div>
      </div>
    </form>

						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">街&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道</label>
						    <div class="col-sm-6">
						      <input type="text" class="form-control" id="street" >
						    </div>
						  </div>
						</form>
		            </div>
		            <div class="modal-footer" style="text-align: center;">
		                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 16.66%;">取消</button>
		                <button type="button" class="btn btn-success" style="width: 16.66%;" onclick="supplierinsert()">确认</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
</div>

	</div>
	
	
	
		
</body>
</html>

<script type="text/javascript">
/*我来判断是新增还是修改*/
var bool=0;
/*模态框*/
$('#exampleModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var recipient = button.data('whatever') // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text(recipient)
	  modal.find('.modal-body input').val(recipient)
 })  
 
pages(1,null,null,null);
 function pages(dqy,sheng,shi,ming){
				var th=this;
				$.ajax({
					data:{pageNum:dqy,sheng:sheng,shi:shi,ming:ming},
					url:"[[@{goods/goodssupplierpage}]]",
					type:"post",
					success:function(res){
						$("#tbody").html("");
						$.each(res.list,function(i,obj){
							var th="<tr><td>"+(i+1)+"</td><td>"+obj.cohr+"</td><td>"+obj.suppliername+"</td><td>"+obj.contact+"</td><td>"+obj.phone+"</td><td>"+obj.telephone+"</td><td>"+obj.email+"</td><td>-</td><td><a href='javascript:;' onclick='del("+obj.supplierid+")'>删除</a><a href='javascript:;' onclick='upd("+obj.supplierid+")'>编辑</a></td></tr>";
							$("#tbody").append(th);
						});		
						$("#shou").attr("onclick","shou()");
						
						
						if(res.hasNextPage) {
							$("#xia").attr("onclick","xia("+res.nextPage+")");
						}
						if(res.hasPreviousPage) {
							$("#shang").attr("onclick","shang("+res.prePage+")");
						}
						
						$("#wei").attr("onclick","wei("+res.pages+")");
						
						$("#pagess").text(res.pageNum+"/"+res.pages);
						
						
						$("#tiao").attr("onclick","tz("+res.pages+")");
					}
				});
			}
 
 
 function xia(xia){
	 var sheng= $("#province10").val();
		var shi=$("#city10").val();
			pages(xia,null,null,null);
		
	}
	function shang(shang){
		var sheng= $("#province10").val();
		var shi=$("#city10").val();
		var ming=$("#ming").val();
			pages(shang,null,null,null);
			
		}
	function wei(wei){
		var sheng= $("#province10").val();
		var shi=$("#city10").val();
		var ming=$("#ming").val();
			pages(wei,null,null,null);
		}
	function  shou(){
		var sheng= $("#province10").val();
		var shi=$("#city10").val();
		var ming=$("#ming").val();
			pages(1,null,null,null);
		}
	function shengpage(){
		var sheng= $("#province10").val();
		var shi=$("#city10").val();
		var ming=$("#ming").val();
		this.pages(1,sheng,shi,null);
	}
	function mingpage(){
		var sheng= $("#province10").val();
		var shi=$("#city10").val();
		//alert(sheng)
		var ming=$("#ming").val();
		this.pages(1,sheng,shi,ming);
	}
	function supplierinsert(){
		var supplier={
			supplierid:bool,
			suppliername:$("#suppname").val(),
			cohr:$("#cohr").val(),
			contact:$("#contact").val(),
			phone:$("#phone").val(),
			email:$("#email").val(),
			telephone:$("#telephone").val(),
			province:$("#province2").val(),
			city:$("#city2").val(),
			district:$("#district2").val(),
			street:$("#street").val()
		}
		//alert(bool)
		if(bool==0){
			$.ajax({
				url:"[[@{goods/supplierinsert}]]",
				data:JSON.stringify(supplier),
				contentType : "application/json;charset=utf-8",
				type:"post",
				dataType:"json",
				success:function(res){
					pages(1,null,null,null);
				}
			});
			$("#supplierModal").modal('hide');  
		}else{
			
			$.ajax({
				url:"[[@{goods/supplierupdate}]]",
				data:JSON.stringify(supplier),
				contentType : "application/json;charset=utf-8",
				type:"post",
				dataType:"json",
				success:function(res){
					pages(1,null,null,null);
				}
			});
			bool=0;
			$("#supplierModal").modal('hide');  
		}
		pages(1,null,null,null);
	}

	function upd(suppid){//修改
		 bool=suppid;
		 $('#supplierModal').modal('show');
		 $.ajax({
			 url:"[[@{goods/goodssupplierByid}]]",
			type:"post",
			data:{suppid:suppid},
			success:function(res){
				 $("#suppname").val(res.suppliername);
				  $("#cohr").val(res.cohr);
				  $("#contact").val(res.contact);
				  $("#phone").val(res.phone);
				  $("#email").val(res.email);
				  $("#telephone").val(res.telephone);
				  $("#province2").val(res.province);
				  $("#province2").change();
				  $("#city2").val(res.city);
				  $("#city2").change();
				  $("#district2").val(res.district);
				  $("#street").val(res.street);	
				  pages(1,null,null,null);
			}
		 });
	 }
	function del(supid){
		 if (confirm("您确认要删除改供应商吗？")) {
		 $.ajax({
				data:{id:supid},
				url:"[[@{goods/supplierdelete}]]",
				type:"post",
				success:function(res){
					pages(1,null,null,null);
				}
			});
		 
		 }
	 }
	
	function tz(pagesss){
		var pageNum = $("#inputPages").val();
		if(pagesss>=pageNum&&pageNum>0){
			pages(pageNum,null,null,null);
		
		}
		
	}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
	
</script>