<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/transaction_record.css">
    
</head>
<body>
<div id="content">
<!--成交记录-->
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">成交记录</span>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找" name="name">
                <a v-if="view==1" href="javascript:;" class="search-btn" @click="cz"></a>
                <a v-if="view==2" href="javascript:;" class="search-btn" @click="cz2"></a>
            </div>
            <div class="list">
                <input type="date" class="form-control" name="afterDate">
            </div>
            <div class="list">
                -
            </div>
            <div class="list">
                <input type="date" class="form-control" name="preDate">
            </div>
            <div class="list">
                <input type="checkbox" name="sp" @click="b">按商品
            </div>
            <div class="list">
                <input type="checkbox" name="dd" @click="a">按订单
            </div>
        </div>
        <div class="mainbody">
        	<div v-if="view==1">
            <table class="settable table table-striped">
                <thead>
                    <tr>
                        <th width="8%">序号</th>
                        <th width="18%">订单号</th>
                        <th width="12%">姓名</th>
                        <th width="12%">手机</th>
                        <th width="10%">数量</th>
                        <th width="12%">金额</th>
                        <th width="10%">支付方式</th>
                        <th width="18%">日期</th>
                    </tr>
                </thead>
                <tbody>
		                <tr v-for="item,index in page.list" name="dd1">
		                    <td>
		                        {{index+1}}
		                    </td>
		                    <td>
		                        {{item.orderId}}
		                    </td>
		                    <td >
		                        {{item.orderName}}
		                    </td>
		                    <td>{{item.orderPhone}}</td>
		                    <td>{{item.orderCount}}</td>
		                    <td>{{item.orderSfmoney}}</td>
		                    <td>{{item.orderPayment}}</td>
		                    <td>{{item.orderDate}}</td>
		                </tr>
	                </div>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">合计</td>
                    <td class="order_nums">-</td>
                    <td class="order_amounts">-</td>
                    <td>-</td>

                    <td>-</td>

                </tr>
                </tfoot>
            </table>
            <!--分页按钮-->
            <div class="pagebar">
                <div class="pagetion">
                    <div class="page">
                        <ul class="pagination">
                            <li>
                                <a href="javascript:;"  @click="queryBydd(1)">
                                    首页
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="queryBydd(page.prePage)">
                                    &laquo;
                                </a>
                            </li>
                            <li>
                                <span style="font-size: 14px;">{{page.pageNum}}/{{page.pages}}</span>
                            </li>
                            <li>
                                <a href="javascript:;"  @click="queryBydd(page.nextPage)">
                                    &raquo;
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"  @click="queryBydd(page.lastPage)">
                                    尾页
                                </a>
                            </li>
                            <li style="margin-left: 20px; float:left;">
                                <input type="text" class="form-control" style="width: 100px;" name="tz">
                            </li>
                            <li style="margin-left: 15px; float:left;">
                                <a href="javascript:;" class="btn btn-default" @click="tz">
                                    跳转
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            </div>
            <div v-if="view==2">
            <table v-if="view==2" class="settable table table-striped">
                <thead>
                    <tr>
					<th width="8%">序号</th>
					<th width="50%">商品</th>

					<th width="10%">数量</th>
					<th width="14%">金额</th>
					<th width="18%">日期</th>
					</tr>
                </thead>
                <tbody>
		                <tr v-for="item2,index2 in page2.list"  name="sp1">
			                    <td width="8%">
			                    {{item2.orderDetailsId}}
			                </td>
			                <td width="50%">
			                    {{item2.goodsName}}
			                </td>
			                <td width="10%">
			                    {{item2.goodsCount}}
			                </td>
			                <td width="14%">{{item2.goodsPrice}}</td>
			                <td width="18%">{{item2.orderDate}}</td>
			            </tr>
	                </div>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">合计</td>
                    <td class="order_nums2">-</td>
                    <td class="order_amounts2">-</td>
                    <td>-</td>
<!--
                    <td>-</td>
-->
                </tr>
                </tfoot>
            </table>
            <!--分页按钮-->
            <div class="pagebar">
                <div class="pagetion">
                    <div class="page">
                        <ul class="pagination">
                            <li>
                                <a href="javascript:;"  @click="queryBysp(1)">
                                    首页
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="queryBysp(page2.prePage)">
                                    &laquo;
                                </a>
                            </li>
                            <li>
                                <span style="font-size: 14px;">{{page2.pageNum}}/{{page2.pages}}</span>
                            </li>
                            <li>
                                <a href="javascript:;"  @click="queryBysp(page2.nextPage)">
                                    &raquo;
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"  @click="queryBysp(page2.lastPage)">
                                    尾页
                                </a>
                            </li>
                            <li style="margin-left: 20px; float:left;">
                                <input type="text" class="form-control" style="width: 100px;" name="tz2">
                            </li>
                            <li style="margin-left: 15px; float:left;">
                                <a href="javascript:;" class="btn btn-default" @click="tz2">
                                    跳转
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
			</div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
   		var transaction_recordvue = new Vue({
			el:"#content",
			data(){
				return {
					page:{//dd
						list:[]
					},
					page2:{//sp
						list:[]
					},
					view:1
				}
			},
			methods:{
				queryBydd:function(pageNum){
					if(pageNum==0){
						return;
					}
					var preDate=$("[name=preDate]").val()
					var afterDate=$("[name=afterDate]").val()
					var name=$("[name=name]").val()
					$.ajax({
						url:"[[@{member/queryBydd}]]",
						data:{pageNum:pageNum,pageSize:2,preDate:preDate,afterDate:afterDate,name:name},
						success:function(result){
							transaction_recordvue.page=result;
							order_nums=0
							order_amounts=0
							$(result.list).each(function(i,obj){
								order_nums+=parseInt(obj.orderCount)
								order_amounts+=parseInt(obj.orderSfmoney)
							})
							$("[class=order_nums]").text(order_nums)
							$("[class=order_amounts]").text(order_amounts)
						}
					});
				},
				queryBysp:function(pageNum){
					if(pageNum==0){
						return;
					}
					var preDate=$("[name=preDate]").val()
					var afterDate=$("[name=afterDate]").val()
					var name=$("[name=name]").val()
					$.ajax({
						url:"[[@{member/queryBysp}]]",
						data:{pageNum:pageNum,pageSize:2,preDate:preDate,afterDate:afterDate,name:name},
						success:function(result2){
							transaction_recordvue.page2=result2;
							order_nums2=0
							order_amounts2=0
							$(result2.list).each(function(i,obj2){
								order_nums2+=parseInt(obj2.goodsCount)
								order_amounts2+=parseInt(obj2.goodsPrice)
							})
							$("[class=order_nums2]").text(order_nums2)
							$("[class=order_amounts2]").text(order_amounts2)
						}
					});
				},
				tz:function(){
					var tz=$("[name=tz]").val()
					transaction_recordvue.queryBydd(tz)
				},
				tz2:function(){
					var tz=$("[name=tz2]").val()
					transaction_recordvue.queryBysp(tz)
				},
				cz:function(){
					transaction_recordvue.queryBydd(1)
				},
				cz2:function(){
					transaction_recordvue.queryBysp(1)
				},
				a:function(){
					transaction_recordvue.view=1
					transaction_recordvue.queryBydd(1)
				},
				b:function(){
					transaction_recordvue.view=2
					transaction_recordvue.queryBysp(1)
				}
			},
			created:function(){
				var that = this;
				that.queryBydd(1)
				that.queryBysp(1)
			}
		});
   		var order_nums=0
   		var order_amounts=0
   		var order_nums2=0
   		var order_amounts2=0
   		$("[name=dd]").attr("checked",true);
   		$("[name=sp1]").hide();
   		var name="dd";
   		$(':checkbox').each(function(){ //遍历页面中所有的checkbox
			$(this).click(function(){//为页面中每一个checkbox设置点击事件
				if($(this).attr("name")==name){
					$(this).prop("checked",true);
					return;
				}
				if($(this).is(':checked')){ //如果有checkbox状态为选中
					$(':checkbox').removeAttr('checked'); //移除checked属性，改变checkbox状态为未选中(为页面中所有checkbox复选框添加设置)
					//$(':checkbox').attr('disabled','disabled'); //或者直接设置checkbox复选框为禁用(为页面中所有checkbox复选框添加设置)
					$(this).prop("checked",true); //为当前点击选中的checkbox复选框添加checked属性
					name=$(this).attr("name");
				}
			});
		});
   </script>	
</body>
</html>